<!-- footbox  -->
<div class="footbox">
    <div class="footbox-t">
        <div class="comwid ovxh">
          <div class="shortcut-box" data-ispc="true">
                <p class="font-24 m-l-30">Shortcut</p>
                <div class="shortcut">
                  <dl class="m-b-0 clearfix">
                    <dt>行业分类：</dt>
                    <dd class="shortcut-list">
                      <ul class="clearfix">
                        <li><a href="#">餐饮油烟净化</a></li>          
                        <li><a href="#">酒店油烟净化</a></li>          
                        <li><a href="#">食堂油烟净化</a></li>          
                        <li><a href="#">塑料废气处理</a></li>         
                        <li><a href="#">印染废气处理</a></li>         
                        <li><a href="#">化工废气处理</a></li>
                        <li><a href="#">喷漆废气处理</a></li>          
                        <li><a href="#">五金废气处理</a></li>          
                        <li><a href="#">电工废气处理</a></li>          
                        <li><a href="#">印刷诶器处理</a></li>         
                        <li><a href="#">橡胶废气处理</a></li>         
                        <li><a href="#">车间废气处理</a></li>           
                      </ul>
                      <div class="divider"></div>
                    </dd>
                  </dl>
                </div>
                
                <div class="shortcut">
                  <dl class="m-b-0 clearfix">
                    <dt>产品分类：</dt>
                    <dd class="shortcut-list">
                      <ul class="clearfix">
                        <li><a href="#">UV光解设备</a></li>          
                        <li><a href="#">油烟净化器</a></li>          
                        <li><a href="#">等离子废气处理设备</a></li>          
                        <li><a href="#">一体机</a></li>         
                        <li><a href="#">喷淋塔</a></li>         
                        <li><a href="#">无烟烧烤车 </a></li>
                      </ul>
                    </dd>
                  </dl>
                </div>
          </div>
        </div>
    </div>

    <div class="footbox-b">
        <div class="comwid">
            <ul class="nav" data-ispc="true">
                  <li><a href="index.html">首页</a></li>
                  <li><a href="productList.html">油烟净化器</a></li>
                  <li><a href="productList.html">UV光解设备</a></li>
                  <li><a href="productList.html">等离子废气处理</a></li>
                  <li><a href="productList.html">各行业净化器</a></li>
                  <li><a href="caseVideo.html">案例视频</a></li>
                  <li><a href="qualification.html">公司资质</a></li>
                  <li><a href="solution.html">解决方案</a></li>
                  <li><a href="about.html">关于万凯</a></li>
            </ul> 
            <div class="row footbox-row">
                <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 p-l-0 p-r-0" data-ispc="true">
                   <div class="logo-box">
                       <a href="index.html" class="btn-block"><img src="../images/logo.jpg" class="logo"></a>
                       <div class="font-16 m-t-10 font-bold align-center">油烟废气处理解决方案厂家</div>
                   </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-8 col-lg-6 font-16 p-l-0 p-r-0">
                    <div class="col-xs-12 align-center tel-number" data-ispc="true"><i class="material-icons">phone</i>：137-2838-4412&nbsp;&nbsp;&nbsp;李生</div>
                    <div class="col-xs-12 col-md-5 ">
                      <p>座机：0769-22013305</p>
                      <p>传真：0769-22013305</p>
                    </div>
                    <div class="col-xs-12 col-md-7">
                      <p>邮箱：wankaihuanbao@163.com</p>
                      <p>地址：广东省东莞市东城区樟村文化路平岭工业区9号</p>
                    </div> 

                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-3 align-right p-r-0 p-l-0">
                    <div class="qrcode-wrap" data-ispc="true">
                        <img src="../images/wx.jpg" class="qrcode">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 align-center m-t-5 icp-box">
                   &copy;2018东莞市万凯环保科技有限公司&nbsp;&nbsp;&nbsp;<a href="javascript:;">（粤ICP备 16084668号-2）</a>
                </div>
            </div>
        </div>
    </div>
       
</div> 
<!-- footbox -->
