<!-- 头部 -->
<div class="headbox">
  <!-- topbox -->
  <div class="topbox" data-ispc="true">
    <div class="container font-12">
      <div class="row clearfix">
            <div class="col-md-7 col-sm-6 col-xs-12 p-l-0">欢迎来到东莞市万凯环保科技有限公司</div>
            <div class="col-md-5 col-sm-6 col-xs-12 p-r-0 p-l-0">
                <a href="javascript:;">二维码</a> 
                <a href="javascript:;">收藏本站</a> 
                <a href="javascript:;">网站地图</a> 
                <a href="javascript:;">联系万凯</a> 
            </div>
      </div>
    </div>
  </div>

  <!-- logo start -->
  <nav class="navbar z-depth-0 navbar-static">
      <div class="container">
          <div class="navbar-header">
             <a href="javascript:;" class="navbar-toggle open-sidebar-btn" id="openSidebar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </a>

              <a class="navbar-brand" href="index.html">
                <img src="../images/logo1.jpg">
              </a>
              
          </div>
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="想要什么环保设备？告诉小凯">
              <i class="material-icons">search</i>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
              <li class="service-hotline">
                  <a href="javascript:;" class="btn-block">
                      <div class="info-box z-depth-0">
                          <div class="icon">
                              <span class="ico-phone"></span>
                          </div>
                          <div class="content">
                              <div class="font-16 col-black">服务热线：</div>
                              <div class="number font-bold">137-1348-3638</div>
                          </div>
                      </div>
                  </a>
              </li>
          </ul>  
      </div>
  </nav>
  <!-- logo end -->

  <!-- nav start-->
  <div class="nav-box" data-ispc="true">
    <div class="container p-l-0 p-r-0">
      <ul class="nav nav-list">
            <li><a href="index.html" target="_blank">首页</a></li>
            <li><a href="productList.html" target="_blank">油烟净化器</a></li>
            <li><a href="productList.html" target="_blank">UV光解设备</a></li>
            <li><a href="productList.html" target="_blank">等离子废气处理</a></li>
            <li><a href="productList.html" target="_blank">各行业净化器</a></li>
            <li><a href="caseVideo.html" target="_blank">案例视频</a></li>
            <li><a href="qualification.html" target="_blank">公司资质</a></li>
            <li><a href="solution.html" target="_blank">解决方案</a></li>
            <li><a href="about.html" target="_blank">关于万凯</a></li>
      </ul>   
    </div>
  </div>
  <!-- nav end-->
</div>

<!-- 移动端导航条  -->
<div class="overlay"></div>
<section>
    <aside class="right-sidebar my-right-sidebar">
      <div class="clearfix nav-wrap">
        <ul class="nav nav-list">
              <li><a href="index.html" target="_blank">首页</a></li>
              <li><a href="productList.html" target="_blank">油烟净化器</a></li>
              <li><a href="productList.html" target="_blank">UV光解设备</a></li>
              <li><a href="productList.html" target="_blank">等离子废气处理</a></li>
              <li><a href="productList.html" target="_blank">各行业净化器</a></li>
              <li><a href="caseVideo.html" target="_blank">案例视频</a></li>
              <li><a href="qualification.html" target="_blank">公司资质</a></li>
              <li><a href="solution.html" target="_blank">解决方案</a></li>
              <li><a href="about.html" target="_blank">关于万凯</a></li>
        </ul>
      </div>
    </aside>
</section>   

<script src="../js/pages/admin.js"></script>