

.index-box .navbar{position: static;padding: 55px 0 52px 0;margin-bottom: 0;}
.index-box .navbar-header{padding-left: 0;}
.index-box .navbar .navbar-toggle{color: #000;}
.index-box .navbar .navbar-brand{height: auto;padding: 0;margin-left: 0;}
.index-box .navbar .navbar-brand img{max-width: 100%;}

.service-hotline img{display: block;width: 230px;height: 51px;}

.ico-navbar{display: inline-block;vertical-align: middle;width: 34px;height: 34px;
	background: url('../../images/icon/navbar.png') no-repeat;
}
.ico-navbar1{background-position: 0 0px;}
.ico-navbar2{background-position: 0 -34px;}
.ico-navbar3{background-position: 0 -68px;}
.ico-navbar4{background-position: 0 -102px;}


.index-box .navbar-nav>li>a{color: #888;}
.service-hotline .phone-number{color: #ff5500;font-size: 22px;font-weight: bold;}
.divider{height: 3px;overflow: hidden;background-color: #2db6ed;}


/*产品中心+导航*/
.shop-list-box{/* height:60px; */color:#FFF;}

.shop-class{width:268px;position:relative;}
.shop-class h3{line-height:60px;background:#00a7eb;font-size:16px;margin: 0;padding-top: 0;}
.shop-class h3 .material-icons{vertical-align: middle;margin-left: 15px;margin-right: 10px;position: relative;margin-top: -2px;}
.index-box .shop-class>a{text-decoration: none;color: #FFF;}
.index-box .shop-class,.index-box .shop-list-box .nav{float: left;}
.index-box .shop-class .dropdown-menu{right: 0;width: 100%;margin-top: 0px !important;border:1px solid #e5e5e5;background-color: rgba(255, 255, 255, 0.95);}
.index-box .shop-class .dropdown-menu>li>a{color: #333;}
.index-box .shop-class .dropdown-menu>li.current>a{color: #00a7eb;}
.ico-shop{display: inline-block;vertical-align: middle;width: 25px;height: 25px;margin-right:5px;background: url('../../images/icon/ico-shop.png') no-repeat;position: relative;margin-top: -4px;}
.ico-shop0{background-position: 0 0;}
.current .ico-shop0{background-position: 0 -25px;}
.ico-shop1{background-position: 0 -50px;}
.current .ico-shop1{background-position: 0 -75px;}
.ico-shop2{background-position: 0 -100px;}
.current .ico-shop2{background-position: 0 -125px;}
.ico-shop3{background-position: 0 -150px;}
.current .ico-shop3{background-position: 0 -175px;}
.ico-shop4{background-position: 0 -200px;}
.current .ico-shop4{background-position: 0 -225px;}
.ico-shop5{background-position: 0 -250px;}
.current .ico-shop5{background-position: 0 -275px;}
.ico-shop6{background-position: 0 -300px;}
.current .ico-shop6{background-position: 0 -325px;}
.ico-shop7{background-position: 0 -350px;}
.current .ico-shop7{background-position: 0 -375px;}
.ico-shop8{background-position: 0 -400px;}
.current .ico-shop8{background-position: 0 -425px;}
.ico-shop9{background-position: 0 -450px;}
.current .ico-shop9{background-position: 0 -475px;}

.shop-list-box .nav{line-height:36px;}
.shop-list-box .nav li{float:left;text-align:center;}
.shop-list-box .nav li a{font:14px/36px "Microsoft YaHei","微软雅黑";display:block;padding: 12px 34px 13px;}

/* 轮播图 */
.swiper-box img{display: inline-block;width: 100%;}

.search-box{min-height: 50px;}
.search-box .container{border:1px solid #dad7d7;padding-left: 0;padding-right: 0;}
.search-box-left{width: 253px;float: left;font-size: 16px;text-align: center;height: 50px;line-height: 50px;position: relative;color: #FFF;font-weight: bold;padding-left: 15px;margin-top: -1px;margin-bottom: -1px;}
.search-box-left:before{content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #0798dc url('../../images/index/titbg.png') no-repeat 0 0 /100% 100%;z-index: -1;}

.search-box-right{width:60%;float: right;padding:7px 10px;}
.search-box-right .row{margin-left: 0;margin-right: 0;}
.search-box-right .search-nav{padding: 6px 40px 6px 0;position: relative;}
.search-box-right .search-nav .nav-ctrl{position: absolute;top:7px;bottom: 0;right: -10px;}
.search-box-right .search-nav a{display: inline-block;padding: 0px 2px;font-size: 14px;text-decoration: none;margin:0 8px;color:#666;}
.search-box-right .search-nav a.active{border-bottom: 1px solid #00a7eb;}
.search-box-right .search-nav .label{padding: 9px 8px;background-color: #00a7eb;}
.search-box-right .search-nav .label.disabled{background-color: #E3E3E3;}
.search-box-right .input-group{margin-bottom: 0;}
.search-box-right .input-group .input-group-addon .material-icons{position: relative;margin-top: 2px;}
/* 产品展示 */
.product-show{margin-top: 36px;}
.product-show .container{padding-left: 0;}
.product-show .title h3{margin: 0;float:left;border-bottom:1px solid #0d7ad7;color:#333;font-size: 16px;height:28px;margin-right:12px;}
.product-show .title h4{margin: 0;line-height:28px;color:#ADADAD;padding-left:4px;font-size: 14px;font-weight: normal;}
.product-list .title{position:relative;height: auto;display: none;padding:10px 15px;}
.product-list .title:before{content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #0798dc url('../../images/index/titbg.png') no-repeat 0 0 /100% 100%;z-index: -1;}
.product-list .title h3{color: #FFF;border:none;height: 18px;margin-top: 5px;}
.product-list .title h4{color: #FFF;}
/* 分类列表 */
.product-list{width: 34%;float: left;border: 1px solid #0d7ad7;margin-bottom: 20px;}
.product-list .item-title{color: #ff7802;}
.product-list .list-group{margin-bottom: 0;}
.product-list .list-group-item{padding:10px;padding-bottom: 13px;border: none;background: #f6f6f6;
	border-top: 1px dashed #0797dd;border-bottom:1px dashed #0797dd;}
.product-list .list-group-item:first-child{border-top: none;}
.product-list .list-group-item:last-child{border-bottom: none;}
.product-list .item-body{color: #ff5500;}
.product-list .item-body a{text-decoration: none;text-align:center;font-size:14px;display: inline-block;width:90px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;vertical-align: middle;color: #888;padding:11px 0;}

.product-list .item-body .line{padding: 14px 10px 5px;}
/* 产品展示标题 */
.product-title{border-bottom:1px solid #0d7ad7;height: 29px;width: 64%;float: right;}
.product-title a{line-height: 28px;color: #888;display: inline-block;}
.product-title a .material-icons{font-size: 16px;vertical-align: middle;color: #0e7ad5;position: relative;margin-top: -1px;}
.product-card{width: 64%;float: right;}
.product-card .col-xs-6:nth-of-type(odd){padding-right: 7px;}
.product-card .col-xs-6:nth-of-type(even){padding-left: 7px;}
.product-card .card{margin-top: 20px;}
.product-card .card .header{padding: 0;}
.product-card .card .header img{display: block;width: 100%;}
.product-card .card .body{background-color: #f6f6f6;}

.banner {overflow: hidden;}
.banner img.banner-bg{display: block;width:100%;min-height:60px;}
.banner-box{background: #16a4df url('../../images/index/fbg.jpg') repeat 0 0 /100% 100%;padding:30px 0;}
.banner-box.nobg{background: none;padding: 0;}
.banner-wrap{background: #16a4df url('../../images/index/banner1.jpg') repeat 0 0 /100% 100%;}
.banner-box img.banner-bg{object-fit: cover;min-width: 100%;}
.banner-wrap img.banner-bg{/*width: 100%; min-height: 30px; */} 

/* 更多(a链接) */
.more{font-size:12px;padding:0 5px;display: inline-block;position: relative;color: #00a7eb;}

.title-c{display: inline-block;color:#333;font-size: 18px;margin-right:5px;line-height: 18px;}
.title-e{display: inline-block;color:#ADADAD;padding-left:4px;line-height: 18px;text-transform: uppercase;}

/* 定制流程、应用案例、关于 */
/* 定制流程 */
.step-box{position: relative;z-index: 2;margin: 60px 0;}
.step-box:before{content: '';display: block;width: 100%;height: 2px;overflow: hidden;background-color: #626262;position: absolute;left: 0;right: 0;top: 50%;margin-top: -4px;z-index: -1;}
.step-box i{background-color: #fff;width: 24px;height: 24px;color: #0d7ad7;}
.step-box i.disabled{pointer-events: none;}
.step-item span{font-size: 18px;font-weight: bold;display: inline-block;position: absolute;top:0;left: 0;right: 0;bottom: 0;text-transform: uppercase;}
.step-box i[data-placement~=top] ~ span{margin-top: 30px;}
.step-box i[data-placement~=bottom] ~ span{margin-top: -30px;}
.step-item{display: inline-block;width: 19%;text-align: center;position: relative;}
.step-box .tooltip-inner{background-color: #00a7eb;}
.step-box .tooltip.top .tooltip-arrow{border-top-color: #00a7eb;}
.step-box .tooltip.bottom .tooltip-arrow{border-bottom-color: #00a7eb;}
/* 应用案例 */
.introduct-box .thumbnail{border:3px solid #4d4c4c;padding: 10px;position: relative;text-decoration: none;}
.introduct-box .thumbnail .label{background-color: #4d4c4c;position: absolute;bottom: -13px;left: 50%;padding: 5px 9px;margin-left: -13px;}
.introduct-box .title-e{position: relative;padding: 0 5px;}
.introduct-box .title-e:before,.introduct-box .title-e:after{position: absolute;top: 50%;
	content: '';display: block;width:60px;height: 1px;overflow: hidden;background: #626262;}
.introduct-box .title-e:before{right: 100%;}
.introduct-box .title-e:after{left: 100%;}
.introduct-box a.thumbnail.active .label, 
.introduct-box a.thumbnail:focus .label, 
.introduct-box a.thumbnail:hover .label{background-color: #337ab7;}
.introduct-box a.thumbnail.active .thumbnail-tit, 
.introduct-box a.thumbnail:focus .thumbnail-tit, 
.introduct-box a.thumbnail:hover .thumbnail-tit{color: #337ab7;}
/* 关于 */
.more-box img{display: inline-block;width: 93px;margin-bottom: -42px;}
.more-box ~ .introduct-box{background-color: #f6f6f6;padding:100px 0 50px;}
.aboutus-img{display: block;width: 100%;}
.aboutus-row p{line-height: 32px;font-size: 12px;}
.honor-box .card{background-color: transparent;}
.honor-box .title-e:before{display: none;}
.honor-box .title-e:after{display: none;}
.honor-box .card .header{border-bottom: none;position: relative;}
.honor-box .card .header:after{content: '';display: block;position: absolute;z-index:0;left:140px;right: 0;top:50%;height: 1px;overflow: hidden;background-color: #d1d1d1;}
.honor-box .more{position: relative;z-index: 1;background-color: #0790d2;color: #FFF;padding:4px 10px;text-decoration: none;display: inline-block;margin-top: -4px;}
.honor-box .thumbnail{border:none;}
.honor-box .thumbnail img{height: 160px;}
.detail-box{padding: 10px;background-color: #ff8400;}
.detail-box .thumbnail{border: 3px solid #fff;background-color: #ff8400;margin-bottom: 0;}
.detail-box .thumbnail img{height: auto;}
.caption-title{position: absolute;right: 0;bottom: 0;left: 0;background-color: #555454;height: 34px;line-height: 34px;font-size: 20px;font-weight: bold;color: #FFF;}
.honor-box a.thumbnail.active .caption-title, .honor-box a.thumbnail:focus .caption-title, .honor-box a.thumbnail:hover .caption-title{background-color: #0790d2;}

/* 公司动态、行业资讯、常见问题 */
.card-group .card .header,.card-group .card .body{padding: 15px 0px;}
.card-group .line{padding: 12px 10px 1px 2px;margin-left: 0px;border-width: 3px;color: #0f51bb;}

.card-group .nav>li>a,.card-group .card .body.nav-ls .nav>li{color: #666;line-height: 20px;padding: 15px 0;}
.card-group .nav>li>a span{display: inline-block;}
.card-group .card .body.nav-ls{padding: 0;} 
.card-group .card .body.nav-ls .nav>li{border-bottom: 1px dashed #e1e1e1;}

.nav-title:before,.ico-fly{content: '';display: inline-block;margin-right: 10px;background: #fff url('../../images/icon/ico-nav.png') 0 0 no-repeat;
width: 20px;height: 20px;vertical-align: middle;margin-top: -4px;}
.nav-title.ico-nav0:before{background-position: 0 0;}
.nav-title.ico-nav1:before{background-position: 0 -20px;}
.nav-title.ico-nav2:before{background-position: 0 -40px;}
.nav-title.ico-nav2{height: 40px;overflow: hidden;display: block;}
.ico-fly{background-position: 0 -60px;}

/* 友情链接 */
.links-box{position: relative;}
.links-box .title{margin-bottom: -25px;}
.links-box .title img{display: inline-block;margin-left: 15px;height: 48px;}

.links-box .title a{margin-top: 15px;margin-right:5px;vertical-align: middle;background-color: #fff;}
.links-box .breadcrumb{border:1px solid #D9D9D9;padding: 25px 15px;}
.links-box .breadcrumb li{margin:4px 0;}


/* 底部 */
.footbox-t .nav>li{display: inline-block;}
.footbox-t .nav>li>a{padding:5px 0;color: #FFF;font-size: 16px;}
.footbox-t{color: #FFF;background-color: #0790d2;}
.footbox-t .line{/* margin-left: 4px;padding:14px 2px 1px; */}
.footbox-t .nav>li>a:focus, .footbox-t .nav>li>a:hover{background-color: transparent;}
.footbox-t .input-group{margin-bottom: 0;}
.footbox-t .input-group .form-control{color: #fff;padding-left: 10px;padding-right: 10px;background-color: transparent;border:1px solid #5eb7e2;
border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-o-border-radius: 0;}
.footbox-t .input-group .input-group-btn{background-color: #fff;}
.footbox-t .input-group .input-group-btn>.btn{margin-left: 0;padding: 7px 15px;color: #00a7eb;font-weight: bold;
	border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-o-border-radius: 0;
	box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;-webkit-box-shadow: none;}
.footbox-t .input-group .form-control::-webkit-input-placeholder {color: #FFF;}
.footbox-t .input-group .form-control::placeholder{color: #FFF;}
.footbox-t .input-group .form-control::-moz-placeholder {color: #FFF;}
.footbox-t .input-group .form-control::-moz-placeholder {color: #FFF;}
.footbox-t .input-group .form-control:-ms-input-placeholder {color: #FFF;}	
.footbox-b{padding: 106px 0;background: #16a4df url('../../images/index/fbg.jpg') repeat 0 0 /100% 100%;color: #fff;}
.footbox-b .nav>li{padding: 5px 0;font-size: 16px;}
.footbox-b .nav>li:first-child{padding-top: 0;}
.logo-box .line{padding: 60px 0 110px;margin-left: 0px;}
.footbox-b .logo{max-width:100%;display:inline-block;margin-left: -15px;}
.qrcode-wrap{width: 140px;float: right;}
.qrcode{display: block;width: 100%;}
.footbox-b .telphone{position: absolute;top:0;right: 0;}
.footbox-b .telphone img{display: block;width: 254px;}
.footbox-b .telphone>a{padding: 0;}
.footbox-b .nav>li.telphone>a:focus, .footbox-b .nav>li.telphone>a:hover{background-color: transparent;}
/* .footbox-b .row{margin-left: 0;margin-right: 0;} */

@media (max-width: 767px){
	.index-box .navbar {padding: 0;}
	.index-box .navbar-header{padding-left: 15px;}
	.index-box .navbar-nav>li.service-hotline{display: none;}
	.index-box .navbar .navbar-brand{width: 86%;}
	.index-box .shop-class{width: 100%;}
	.index-box .shop-list-box .container{padding-right: 0;padding-left: 0;}
	.index-box .shop-class h3{line-height: 50px;}
	.index-box .shop-class,.index-box .index-box .shop-class .nav{float: none;}
	.shop-list-box .nav li{width: 33%;}
	.shop-list-box .nav li a{padding: 0 5px;}
    
    .search-box-left{float: none;width: 100%;text-align: left;}
    .search-box-right{float: none;width: 100%;}

	.product-show .container{padding-left: 15px;}

	.product-list{/* display: none; */width: 100%;}
	.product-list img{display: none;}
	.product-list .title{display: block;}
	.product-list .item-title{margin: 0;display: inline-block;font-size: 16px;}
	.product-list .item-body div{display: inline-block;}
	.product-list .item-body a{padding: 5px;width: auto;}
	.product-list .item-body .line{display: none;}
	.product-title,.product-card{width: 100%;}
	.product-card .card{margin-top: 0px;}

	/* .introduct-box .thumbnail img{float: left;width: 80px;}
	.introduct-box .thumbnail .caption{padding:0 0 0 90px;} */

	/* 轮播图 */
    .swiper-box img{display: inline-block;min-height: 120px;object-fit: contain;max-width: 100%;}

    .footbox-b{padding: 30px 0;}
    .footbox-b .logo-box .line{display: none;}
    .footbox-b .logo-box .logo{margin-left: 0;}
    .footbox-b .telphone{position: relative;}
    .qrcode-wrap{float: left;}
}
@media (min-width: 768px) and (max-width: 992px) {
	.index-box .navbar {padding: 20px 0;}
	.index-box .navbar-header{width: calc(62.7% - 25px);}
	.index-box .navbar-nav>li.service-hotline{display: none;}
	.index-box .navbar-nav>li>a{margin-top: 0;}

	.index-box .shop-class{width: 100%;}
	.index-box .shop-list-box .container{padding-right: 0;padding-left: 0;}
	.index-box .shop-class h3{line-height: 50px;}
	.index-box .shop-class,.index-box .nav{float: none;}
	.shop-list-box .nav li{width: 33%;}
	.shop-list-box .nav li a{padding: 0 5px;}

	.search-box-left{float: none;width: 100%;text-align: left;}
	.search-box-right{float: none;width: 100%;}

    .product-show .container{padding-left: 15px;}
	.product-list{/* display: none; */width: 100%;}
	.product-list img{display: none;}
	.product-list .title{display: block;}
	.product-list .item-title{margin: 0;display: inline-block;}
	.product-list .item-body div{display: inline-block;}
	.product-list .item-body a{padding: 5px;width: auto;}
	.product-list .item-body .line{display: none;}
	.product-title,.product-card{width: 100%;}
	.product-card .card{margin-top: 0px;}

	/* 轮播图 */
	.swiper-box img{display: inline-block;min-height: 120px;object-fit: cover;max-width: 100%;}
	.footbox-b .logo-box .line{display: none;}
	.footbox-b .logo-box .logo{margin-left: 0;}
}

@media (min-width: 993px) and (max-width: 1199px) {
	.index-box .shop-class{width: 100%;}
	.index-box .shop-list-box .container{padding-right: 0;padding-left: 0;}

	.search-box-left{float: none;width: 100%;text-align: left;}
	.search-box-right{float: none;width: 100%;}

    /* 轮播图 */
    .swiper-box img{display: inline-block;min-height: 120px;object-fit: cover;max-width: 100%;}
    .footbox-b .logo-box .line{display: none;}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.index-box .navbar-nav>li.service-hotline{display: none;}
	.product-list .item-body a{width: 80px;}
	.product-list .item-body .line {padding: 14px 5px 5px;margin-left: 10px;}
}


