
@media screen and (max-width: 320px){
    .title .title-divider{width: 100%;}
    .index-box .vbtn-info{width: 80%;}
}
@media screen and (max-width: 767px){
    [data-ispc~=true]{display: none;}
    [data-ispc~=false]{display: block;}
    
    /* 头部 */
    .navbar-nav{display: none;}
    .navbar.navbar-static .navbar-header{width: 100%;}
    
    .index-box .vbtn-info div{padding-left:5px;padding-right: 5px;}

    /* 底部 */
    .shortcut dt,
    .shortcut-list li a{font-size: 18px;}
    .shortcut dt{float: none;width: 100%;}
    .shortcut-list{padding-left: 0;}
    .shortcut-list li{width: 49%;}
    .shortcut-list li a{padding:5px 0;} 
    .footbox-b .nav>li{min-width: 30px;}
    .footbox .logo-box{text-align: center;margin: 0 auto;}
    .tel-number,.tel-number i{font-size:16px;}

    /* 标题 */
    .title .font-48{font-size: 32px;}
    .font-72{font-size: 36px;}
    .sub-title{font-size: 20px;}
    
    .vrow,.vrow>div{padding-left: 7px;padding-right: 7px;}
    .vrow>div:nth-of-type(odd){padding-left: 7px;}
    .vrow>div:nth-of-type(even){padding-right: 7px;}
    .vrow3,.vrow3>div{padding-left: 7px;padding-right: 7px;}
    
    .index-box .vbtn-info {font-size: 17px;}
    /* 5大优势 */
    .ico-sq {font-size: 30px;}
    .advantage-box p {font-size: 16px;margin-bottom: 10px;}


    .product-list-group .product-list{width: 50%;float: left;}
	.product-list-group .product-list-body{border:none;padding-top: 0;padding-bottom: 0;}
    .product-list .product-list-body a{width: 100%;float: none;}
    
    .product-list-group .card-show-body{display: none;}
    .product-list-group .product-list.product-list-one{width: 100%;float: none;}
    .product-list-group .product-list.product-list-one a{width: 50%;float: left;}
    .product-list .table-cell-wrap{display: block;}
    .product-list-head,.product-list-body,.product-list-foot{display: block;width: 100%;}
    .product-list-group .product-list-body{border:none;padding-top: 0;padding-bottom: 0;}
    .product-list-cell{display: none;}
    .product-list-title{font-size: 20px;}
    .itembox .btn-group .btn{font-size: 16px!important;}
    .index-box .itembox .title{font-size: 32px;padding: 2% 0;}
    .index-box .itembox .intro{font-size: 16px;}
    .index-box .itembox .intro p{padding-bottom: 1%;}
    .index-box .itembox .leftarea,.index-box .itembox .rightarea{width: 100%;float: none;}

    .card-left,.card-right{float: none;width: 100%;}
    .card-left .list-group-item{float: left;width: 50%;}
    .card-left .list-group-item.item-more{float: none;width: 100%;}
    .card-left .list-group-item:nth-of-type(2){border:none;}
    .card-left .list-group-item:nth-of-type(odd){border-right: 1px dashed;}
    .card-left .list-group-item:nth-of-type(even){border-left: 1px dashed;margin-left: -1px;}
    .card-left .list-group-item img{display: none;}
    .card-left .list-group .card-cata-title{padding: 10px 0;}

    .solve-problem-title{font-size: 20px;}
    .font-140{font-size: 20px;}
    .solve-problem-box .table-cell-wrap{font-size: 16px;}
    .solve-problem-item3{font-size: 16px;}
    .solve-problem-item3 .text-orange{font-size: 20px;}
    .solve-problem-box .ico{display: none;}
    
    /* 关于 */
    .swiper-slide-title{font-size: 12px;}
    .card-box .alert{font-size: 13px;}
    .nav-limit li{width: 33.3333%;}
    .company-text{padding-left: 15px;padding-right: 15px;}
   
    /* 新闻 */
    /* 常见问题 */
    .card-list-title h3{font-size: 28px;}
    .card-list-title .navbar-form{float: none;width: 100%;padding-top: 10px;}

    .pc-slide{max-width: 320px;margin-right: auto;margin-left: auto;}
    .recommend-cell{padding-left: 15px;padding-right: 15px;}

    /* 产品中心 */
    .product-group-wrap .list-group-item h4 { text-align: center;font-size: 16px;}

    /* 案例视频 */
    .card-right-body{padding-left: 0;}
     
    /* 产品详情 */ 
    .card-floor-box{/* padding: 0; */width: 100%;float: none;}
    .card-floor-box .floor-btns .btn{font-size: 12px!important;}

    /* 新闻详情 */
    .new-article-card.card{margin-top: 0;}
    .new-article-card.card .header,.new-article-card.card .body{padding:10px 0;}
    .contact-list .nav>li{float: none;width: 100%;}

}
@media screen and (min-width: 768px) and (max-width: 786px){
    .product-list-group .product-list{width: 50%;float: left;text-align:center;border:none;}
    .product-list-group .product-list.product-list-one{width: 100%;float: none;}
    .card-show-body .btn-more{line-height: 1;}
    .product-list .product-list-body a{width: 50%;}
    .product-list-group .product-list.product-list-one a{width: 50%;float: left;}
    .product-list-group .card-show-body{display: none;}
    .product-list-group .product-list-body{border:none;padding-top: 0;padding-bottom: 0;}
    .product-list .table-cell-wrap{display: block;}
    .product-list-head,.product-list-body,.product-list-foot{display: block;width: 100%;}
    .product-list-cell{width: 100%;display: none;}
    .product-list-title{font-size: 20px;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	/* 头部 */
    .navbar-nav{display: none;}
    .nav-box .nav-list.nav>li{width: 20%;}

    .product-cell .table-cell-body a{width: 33.3333%;}

    .card-left,.card-right{float: none;width: 100%;}
    .vrow3,.vrow3>div{padding-left: 7px;padding-right: 7px;}

    /* 案例视频 */
    .card-right-body{padding-left: 0;}
}

@media screen and (min-width: 993px) and (max-width: 1199px) {

  
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .itembox .btn-group .btn{font-size: 20px!important;}
}

@media screen and (max-width: 1265px) {
	.product-show .btn-ctrl-l{left: 0;background-color: #FFF;}
    .product-show .btn-ctrl-r{right: 0;background-color: #FFF;}
}