
@media screen and (max-width: 320px){
}
@media screen and (max-width: 767px){
	.navbar-nav{display: none;}
	.navbar-static.navbar .navbar-form{padding-right: 15px;}
    
	.index-box .vbtn-info{font-size: 17px;}
	.advantage-box{font-size: 18px;}
	.advantage-box p{font-size: 16px;margin-bottom: 10px;}
	.ico-sq{font-size: 30px;}



	.title .font-48{font-size: 32px;}
	.index-box .itembox .title{font-size: 32px;}
	.font-72{font-size: 36px;}
	.sub-title{font-size: 20px;}
	.itembox .btn-group .btn{font-size: 16px!important;}
	.index-box .itembox .intro{font-size: 16px;}


	.shortcut dt,
	.shortcut-list li a{font-size: 18px;}
	.shortcut dt{float: none;width: 100%;}
	.shortcut-list{padding-left: 0;}
	.shortcut-list li{width: 49%;}
	.shortcut-list li a{padding:5px 0;}

	/* 公司动态、行业资讯、常见问题 */
	.tab-show{display: block;}
	.tab-show-card{display: none;}

	.card-box .card-cata,.card-box .card-classify{width: 100%;float: none;}
	.card-box .card-list{width: 100%;float: none;}
	.card-box .card-show{width: 100%;float: none;}
	.product-list-group .product-list{width: 50%;float: left;}
	.product-list-group .product-list.product-list-one{width: 100%;float: none;}
	.product-list-group .product-list.product-list-one a{width: 48%;}
	.card-cata-title{font-size: 20px;}
	.card-show-body .btn-more{line-height: 1;}

	.card-box .card-classify .list-group-item{width: 50%;float: left;text-align:center;/* border-left: 1px dashed #FFF; */}
	.card-box .card-classify .list-group-item.item-more{width: 100%;float: none;border-left-color: transparent;}
    /* .card-box .card-classify .list-group-item:nth-of-type(odd){border-left-color: transparent;} */
    .card-box .card-classify .list-group-item{border-top:none;}
	.card-box .card-classify .list-group-item-info{display: none;}
	.card-box .card-classify .list-group-item img{display: none;}
	.card-box .card-classify .list-group .card-cata-title{padding: 2% 0;}

	.card-box .card-list .row{margin:0 -7px;}
	/* .list-box .card-box .card-list .row{margin:0 -15px;} */
	/* .index-box .card-list .row>div{padding: 0 7px;} */
	.list-box .card-list .list-group-item>div{padding-right: 0;}
	.list-box .card-list .list-group-item h4{text-align: center;font-size: 16px;}

	.product-list-group a{width: 100%;padding:5px 10px;}

	.index-box .itembox .leftarea{width: 100%;float: none;}
	.index-box .itembox .rightarea{width: 100%;float: none;}
	.index-box .itembox .rightarea .areabox .btn-ctrl-l{left: 0;}
	.index-box .itembox .title{font-size: 24px;padding: 5% 0;}

	.product-list-group .card-show-body{display: none;margin-top: 10px;}
	.product-list-group:before,.product-list-group:after{display: none;}

	/* 关于万凯页面 */
	.swiper-slide-title{font-size: 12px;}
	.card-box .alert{font-size: 13px;}

	/* 新闻 */
	/* 常见问题 */
	.card-list-title h3{font-size: 28px;}

	/* 案例视频 */
	/* .case-box .card-list .card.card-video .body{padding:10px 0;} */
	.case-video-box .leftarea{width: 30%;}
	.case-video-box .rightarea{width: 70%;}
	.sp-bottom-thumbnails.sp-has-pointer{margin-top: 13px;}
	.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail{border:1px solid #52b6d0;}
	.sp-bottom-thumbnails.sp-has-pointer .sp-thumbnail{position: static;}
	.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{}
	.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:before,
	.sp-bottom-thumbnails.sp-has-pointer .sp-selected-thumbnail:after{display: none;}

	.pc-slide {margin: 0 auto;}

	/* 环保验收成功案例导航 */
	.nav-limit li{width: 33.3333%;}

	/* 产品详情 */
	.card-floor-box{padding: 0;width: 100%;float: none;}
	.card-floor-box .floor-btns .btn{font-size: 12px!important;}

	/* 表单 */
	.sample-form p{font-size: 15px;}

	/* 新闻 */
	/* 常见问题 */
	.card-list-title .navbar-form{float: none;width: 100%;padding-top: 10px;}

    [data-ispc~=true]{display: none;}
    [data-ispc~=false]{display: block;}
    
    .footbox-row>div{padding-left: 15px;padding-right: 15px}
    .footbox-row>div>div{padding-left: 0;padding-right: 0;}
    .footbox-b .nav>li{min-width: 30px;}
    .footbox .logo-box{text-align: center;}
    .tel-number{font-size: 16px;}
    .tel-number i{font-size:16px;}

    .card-list-body{padding-left: 0;}
    .contact-list{margin-right: 0;}
    .contact-list .nav>li{float: none;width: 100%;}
    .list-box .card-list .list-group{padding-left: 15px;padding-right: 15px;}

    .solve-problem-title{font-size: 20px;}
    .font-140{font-size: 20px;}
    .solve-problem-box .table-cell-wrap{font-size: 16px;}
    .solve-problem-item3{font-size: 16px;}
    .solve-problem-item3 .text-orange{font-size: 20px;}
    .solve-problem-box .ico{display: none;}
    .product-list .table-cell-wrap{display: block;}
    .product-list-body{padding-top: 0;padding-bottom: 0;border:none;}
    .product-list-head,.product-list-body,.product-list-foot{display: block;width: 100%;}
    .product-list-group .product-list{padding:7px 0;}
    .product-list-cell{display: none;}
    .product-list-tit{font-size: 20px;/* line-height: 1; */}

    /* .product-show-item .btn-ctrl-l,
    .product-show-item .btn-ctrl-r{display: none;} */
    /* .index-box .itembox .rightarea .areabox .btn-ctrl-l,
    .index-box .itembox .rightarea .areabox .btn-ctrl-r{display: block;} */
    .product-show .btn-ctrl-l{left: 0;}
    .product-show .btn-ctrl-r{right: 0;}
    .product-show .btn-ctrl-l,
    .product-show .btn-ctrl-r{background-color: #FFF;}
    
}
@media screen and (min-width: 768px) and (max-width: 786px){
	.card-box .card-cata, .card-box .card-classify{width: 100%;float: none;}
	.card-box .card-list{width: 100%;float: none;}
	.card-box .card-show{width: 100%;float: none;}
    .product-list-group .product-list{width: 50%;float: left;text-align:center;border:none;}
    .product-list-group .product-list.product-list-one{width: 100%;float: none;}
    .card-show-body .btn-more{line-height: 1;}
    .product-list-group a{width: 50%;/* padding:5px 10px; */}
    .product-list-group .product-list.product-list-one a{width: 50%;}
    .product-list-group .card-show-body{display: none;}
    .product-list-body{padding-top: 0;padding-bottom: 0;border:none;}
    .product-list .table-cell-wrap{display: block;}
    .product-list-head,.product-list-body,.product-list-foot{display: block;width: 100%;}
    .product-list-group .product-list{padding:7px 0;}
    .product-list-cell{width: 100%;display: none;}
    .product-list-tit{font-size: 20px;/* line-height: 1; */}

}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.navbar-nav{display: none;}

	.nav-box .nav-list.nav>li{width: 18%;}
    
    .card-cata-title{font-size: 20px;} 
	.index-box .itembox .title{font-size: 24px;padding: 5% 0;}

	.card-box .card-classify{width: 100%;float: none;}
	.card-box .card-list{width: 100%;float: none;}
	
	.card-box .card-classify .list-group-item{width: 50%;float: left;border:none;text-align:center;/* border:1px dashed #FFF; *//* border-left: 1px dashed #FFF; */}
	/* .card-box .card-classify .list-group-item:nth-of-type(1){border-top: none;} */
	.card-box .card-classify .list-group-item.item-more{width: 100%;float: none;/* border-left-color: transparent; */}
	.card-box .card-classify .list-group-item:nth-of-type(odd){/* border-left-color: transparent; */}
	.card-box .card-classify .list-group-item-info{display: none;}
	/* .card-box .card-list .row{margin: 0 -15px;} */
	/* .card-list-body1 .card-list-group>div:nth-of-type(3n+0){padding-right:7px;}
	.card-list-body1 .card-list-group>div:nth-of-type(odd){padding-left:0;background-color: #f00;}
	.card-list-body1 .card-list-group>div:nth-of-type(even){padding-right:0;} */
	
	.tel-number{font-size: 16px;}
	.tel-number i{font-size:18px;}
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
	.nav-box .nav-list.nav>li{width: 16%;}

	.card-box .card-classify{width: 100%;float: none;}
	.card-box .card-list{width: 100%;float: none;}
	/* .card-box .card-classify .list-group-item:not(.item-more){width: 50%;float: left;border-left: 1px dashed #FFF;} */
	.card-box .card-classify .list-group-item{width: 33.3333%;float: left;text-align:center;border:none;}
	.card-box .card-classify .list-group-item.item-more{width: 100%;float: none;border-left-color: transparent;}
	.card-box .card-classify .list-group-item:nth-of-type(odd){border-left-color: transparent;}
	.card-box .card-classify .list-group-item-info{display: none;}

	/* .case-box .card-list .row{margin: 0 -15px;} */

}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.card-box .card-classify .list-group .card-cata-title{padding: 1.6% 0;}
	.pc-slide {margin: 0 auto;}
	.footbox-row{margin: 0;}
	.card-list-body{padding-left: 0;}
	.contact-list{margin-right: 0;}
	.font-140{font-size: 40px;}
	/* .card-list-body1 .card-list-group{margin-right: -7px;} */
	.product-show-item .btn-ctrl-l{left: 0;background-color: #FFF;}
    .product-show-item .btn-ctrl-r{right:0;background-color: #FFF;}
}
@media screen and (max-width: 1200px) {
    .product-show .btn-ctrl-l{left: 0;}
    .product-show .btn-ctrl-r{right: 0;}
    .product-show .btn-ctrl-l,
    .product-show .btn-ctrl-r{background-color: #FFF;}
}
@media screen and (min-width: 1200px) and (max-width: 1230px){
    .container {
	    width: 1170px;
	    padding-left: 15px;
	    padding-right: 15px;
    }
}@media screen and (min-width: 1231px){
    .container {
	    width: 1200px;
	    padding-left: 0;
	    padding-right: 0;
    }
}