body{font-family:"Roboto","Arial","Tahoma","sans-serif","黑体";word-break:break-all; word-wrap:break-word; }
.white{background-color: #fff;}
a:link,a:visited,a:hover,a:active{text-decoration: none;}

.z-depth-0{box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;}

.col-default{color: #52b6d0;}
.bg-default{background-color: #52b6d0;}
.text-orange{color: #f8b62b;}
.bg-light-orange{background-color: #f8b62b;}

.table-cell-wrap{display: table;width: 100%;height: 100%;}
.table-cell{display: table-cell;vertical-align: middle;}

.circle{border-radius: 50%;-moz-border-radius: 50%;-o-border-radius: 50%;-webkit-border-radius: 50%;}
.rectbox{position: relative;padding-bottom: 100%;}
.rect{position: absolute;top:0;left: 0;right: 0;bottom: 0;height: 100%;width: 100%;}

/* 省略 */
.text-ellipsis1{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
/* 竖线 */
.line{display: inline;font-size: 0;padding: 14px 10px 5px;border-left: 1px solid;margin-left: 20px;}

.areabox{width: 100%;}

.card .card-image {position: relative;}
.card .card-image img {display: block;position: relative;left: 0;right: 0;top: 0;bottom: 0;width: 100%;}
.card .card-image .card-content{position: absolute;top:0;left: 0;right: 0;}

.left{float:left;}
.right{float:right;}
.comwid{width: 100%;margin-right: auto;margin-left: auto;max-width: 1200px;}
[data-ispc~=false]{display: none;}

.row{margin-left: 0;margin-right: 0;}

.clearance{font-size: 0;letter-spacing: -3px;}

.divider{overflow: hidden;height: 1px;width: 100%;}

.ico{display: inline-block;position: relative;vertical-align: middle;}
/* 小圆点 */
.ico-circle{display: inline-block;width: 8px;height: 8px;border-radius: 50%;background-color: #f8b62b;overflow-y: hidden;margin:0 5px;}

/* banner */
.banner img{display: block;width: 100%;}
.banner-rect{position: relative;padding-bottom: 15.625%;}
.banner-rect>img{position: absolute;display: block;width: 100%;height: 100%;top: 0;left: 0;right: 0;bottom: 0;background: #f8f8f8 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAqBAMAAAAdXSXHAAAAFVBMVEUAAADi5unh5ejk6Ov0+Pvw9Pfq7vHHFbs6AAAAAXRSTlMAQObYZgAAANFJREFUOMu1j0EKwkAMRaf2AnlTdd0Ru283HqBC9wrewPufQaeUBmoyguBftHweeZmETWiQ4KZqOCYfx0eKV3+8G+GJ6z4kgdHFIBVJLCQZvz9g4B1kzGywvaG6JCHeDDczPt9hP5jD2c5EnDBXz8u7dIy96YY2/2MTHMxyX6jFWA1Lq8HEokcablo98uPdagcw3NCvTTZuXY6L0Wa4idqsYWTFrYm1qRvNFyyVitSteDCwGXUXMF6kjFH3L1iKbtoyRt2OPVG0U8w/sYT65CeFF1O0Ne1VbiTYAAAAAElFTkSuQmCC') center center no-repeat;}}

.vbtn{display: inline-block;padding: 6px 12px;margin-bottom: 0;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}

.fz_gbk{font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}

/* 标题 */
.font-72{font-size: 72px;}
.font-normal{font-weight: normal;}
.title{padding: 2% 0;}


.title .font-48{font-weight: bold;}
.title .col-black,.title .col-default{font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.title .title-divider{height: 20px;line-height: 20px;position: relative;color: #f8b62b;width: 260px;margin:0 auto;}
.title .title-divider .ico-circle{margin:0 2px;margin-top: -6px;}
.title .title-divider:before,.title .title-divider:after{content: ' ';position: absolute;top:10px;width: 80px;height: 0;border-top:1px dashed ;}
.title .title-divider:before{left: 25px;}
.title .title-divider:after{right: 25px;}

/* headbox */
.topbox{color: #626262;padding: 14px 0 2px;border-bottom: 1px solid #52b6d0;}
.topbox a{color: #626262;display: inline-block;width: 24%;text-align: right;font-size: 14px;}
.topbox a:hover{color: #f00;}

/* logo 位置的navbar*/
.navbar-static.navbar{position: static;padding: 1.787% 0 8px;margin-bottom: 0;font-family:"Roboto","Arial","Tahoma","sans-serif","黑体";}
.navbar-static .navbar-header{padding: 0;position: relative;}
.navbar-static .navbar-toggle{color: #000;background-color: #52b6d0;margin-right: 10px;}
.navbar-static .navbar-toggle{width: auto;height: auto;/* margin: 0;margin-right: 15px; */position: absolute;right: 0px;top:50%;margin-top: -17px;}
.navbar-static .navbar-toggle .icon-bar{background-color: #f9f9f9;border-color: #f9f9f9;}
.navbar-static .navbar-toggle:before{content: '';display: none;}
.navbar-static.navbar .navbar-brand{height: auto;padding: 0;margin-left: 0;}
.navbar-static .navbar-brand img{max-width: 100%;}
.navbar-static .navbar-nav>li>a{margin: 0;margin-right: 25px;}

.navbar-static.navbar .navbar-form{padding-top: 2%;padding-bottom: 0;}
.navbar-form .form-group{position: relative;}
.navbar-form .form-control{border:1px solid #52b6d0;min-width: 200px;padding:3px 30px 2px 10px;font-size: 12px;height: auto; 
	border-radius: 6px;-moz-border-radius: 6px;-o-border-radius: 6px;-webkit-border-radius: 6px;
	box-shadow: 0 0 12px #52b6d0 inset;-o-box-shadow: 0 0 12px #52b6d0 inset;-moz-box-shadow: 0 0 12px #52b6d0 inset;-webkit-box-shadow: 0 0 12px #52b6d0 inset;
}
.navbar-form i{font-size: 20px;position: absolute;top:2px;bottom: 0;right: 0px;width: 25px;}

.navbar-nav>li.service-hotline{width: auto;}
.service-hotline img{display: block;width: 230px;height: 51px;}
.service-hotline .info-box{height: auto;background-color: transparent;margin-bottom: 0;}
.service-hotline .info-box .icon{width:auto;height: auto;background-color: transparent;}
.service-hotline .info-box .icon span{display: block;width: 40px;height: 40px;margin-top: 5px;background: url('../../images/icon/ico-phone.png') 0 0 no-repeat;}
.service-hotline .info-box.hotline-blue .icon span{background-position: 0 -40px;width: 67px;height: 67px;margin-right: 2px;}
.service-hotline .info-box .content{padding: 0 2px;}
.service-hotline .info-box .content div{line-height: 26px;color: #52b6d0;}
.service-hotline .info-box .content .number{font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.service-hotline .info-box.hotline-blue .content .number{line-height: 1;font-size: 28px;font-weight: 800;}

/* nav-list */
.nav-box{border-bottom:4px solid #f8b62a;background-color: #52b6d0;}
.nav-list.nav>li>a{display: block;font: 14px/14px "黑体";}
.nav-box .nav-list.nav>li{display: block;width: 11.1111%;float: left;}
.nav-box .nav-list.nav>li>a{padding: 24px 0;text-align: center;color: #FFF;}

.nav-list.nav>li>a:active{background: none;}
.nav-list.nav>li>a:link{background: none;}
.nav-list.nav>li>a:hover,.nav-list.nav>li>a.active{background: #f49800;color: #FFF;
	background: -moz-linear-gradient(bottom,  #f49800 75%, #f4d300 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(75%,#f49800), color-stop(100%,#f4d300)); 
	background: -webkit-linear-gradient(bottom,  #f49800 75%,#f4d300 100%); 
	background: -o-linear-gradient(bottom,  #f49800 75%,#f4d300 100%); 
	background: -ms-linear-gradient(bottom,  #f49800 75%,#f4d300 100%); 
	background: linear-gradient(bottom,  #f49800 75%,#f4d300 100%);     
}

.nav-wrap .nav-list.nav>li{display: block;}
.nav-wrap .nav-list.nav>li>a{padding: 10px;color: #333;}
.nav-wrap .nav-list.nav>li>a:hover,.nav-wrap .nav-list.nav>li>a.active{color: #FFF;}



/* 底部 */
.footbox{color: #FFF;}
.footbox-t{background-color: #f8b62b;}
.footbox-t .divider{background-color: #fff;height: 2px;overflow-y: hidden;width: 100%;}
.shortcut dt{font-size: 22px;padding: 10px 0;width: 132px;float: left;font-weight: normal;}

.shortcut a{padding:10px 0;display: block;}
.shortcut ul{list-style: none;padding: 0;margin: 0;}

.shortcut-list{padding-left: 132px;}
.shortcut-list li{text-align: center;display: inline-block;width: 16%; }
.shortcut-list li a{color:#FFF;font-size: 22px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.footbox-b{padding: 0.5% 0 2%;}
.footbox-b{color: #FFF;background-color: #2fb1cf;background: url('../../images/fbg.jpg') repeat;}
.footbox-b .nav>li{display: inline-block;min-width: 110px;text-align: center;}
.footbox-b .nav>li>a{padding:5% 12px;color: #FFF;font-size: 18px;}
.footbox-b .nav>li>a:link,
.footbox-b .nav>li>a:visited,
.footbox-b .nav>li>a:hover,
.footbox-b .nav>li>a:active{background-color: transparent;}

.logo-box{max-width: 255px;}
.footbox img{display: inline-block;max-width: 100%;}
.footbox-row{padding:10px 0 1.2%;border: 2px solid #FFF;border-left: none;border-right: none;}
.icp-box a{color: #fff;}
.tel-number{font-size: 28px;padding: 4% 0;}
.tel-number i{font-size:36px;position: relative;top:4px;}


/* 表单 */
.sample-form{padding: 2% 0 12%;}
.sample-form .form-group {margin-top: 10px;}
.sample-form .form-group .form-control {border: 1px solid #d0d0d0;padding-left: 16px;font-size: 14px;}
.sample-form .btn:not(.btn-link):not(.btn-circle){font-size: 22px;font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.sample-form .vbtn{background-color: #f8b62b;padding: 10px 16px;font-size: 22px;margin-bottom: 10px;}
.sample-form p{margin: 0;padding: 2% 0;font-size: 20px;}
.form-box-sm .sample-form .vbtn{padding:2px 10px;font-size: 16px;margin-bottom: 0;font-weight: bold;box-shadow: none;-o-box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;}
.form-box-sm .sample-form{margin-top: 5px;margin-bottom: 10px;}
.form-box-sm .sample-form{border: 1px solid;padding: 10px;}
.form-box-sm .sample-form .form-group{margin-bottom: 10px;margin-top: 0;}
.form-box-sm .sample-form .form-group .form-control{padding: 6px 10px;}
.form-box-sm .list-group{margin-bottom: 5px;}
.form-box-sm .linkbox p{border-top: 1px dashed;padding: 5px 0 5px 5px;}
.form-box-sm .linkbox p:first-child{border-top: none;}
.form-box-sm .linkbox .btnwrap a{width: 50%;float: left;display: block;margin-top: 20px;padding: 4px 0;text-align: center;}
.form-box-sm .sample-form .form-group textarea.form-control{height: 94px;}
.form-box-sm .sample-form .title{padding: 0;}

.linkbox .ico{width: 27px;height: 27px;margin-top: -2px;background: url('../../images/icon/ico-link.png') 0 0 no-repeat;margin-right: 10px;}
.linkbox .ico-user{background-position: 0 0;}
.linkbox .ico-phone{background-position: 0 -27px;}
.linkbox .ico-mail{background-position: 0 -54px;}
.linkbox .ico-add{background-position: 0 -81px;}
.form-box-sm .linkbox .ico{width: 17px;height: 17px;margin-right: 5px;}
.form-box-sm .linkbox .ico-user{background-position: 0 -108px;}
.form-box-sm .linkbox .ico-phone{background-position: 0 -125px;}
.form-box-sm .linkbox .ico-mail{background-position: 0 -142px;}
.form-box-sm .linkbox .ico-add{background-position: 0 -159px;}


.vrow>div:nth-of-type(odd){padding-left: 0;}
.vrow>div:nth-of-type(even){padding-right: 0;}
.vrow3>div{padding-right: 0;}
.vrow32{margin-right: -15px;margin-left: -15px;}
.ovxh{overflow-x: hidden;}
/* .vrow32>div{padding-left: 0;padding-right: 0;} */
/* .vrow32>div:nth-of-type(){} */

.advantage-box h3{font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}

.btn-ctrl{position: absolute;top:50%;width: 25px;height:39px;margin-top: -22px;color: #EFEFEF;z-index: 2;text-align: center;background: #fff url('../../images/icon/ico-arrow.png') 0 0 no-repeat;}
.btn-ctrl-l{left: 0;background-position: 0 0;}
.btn-ctrl-r{right: 0;background-position: 0 -39px;}

.product-list-head,.product-list-foot{width: 14.5834%;}
.product-list .product-list-body{border:1px solid;border-top:none;border-bottom: none;padding: 2% 0;}
.product-list-group{color: #FFF;border-bottom:1px solid;position: relative;}
.product-list-title{font-size: 24px;line-height: 34px;padding: 10px 0;text-align: center;}
.product-list-group a{color: #FFF;display: block;text-align: center;font-size: 15px;line-height: 1;padding:10px 2px;}
.product-list .product-list-body a{width: 16.6666%;float: left;}
.product-list-group a.btn-more{width: 100%;display: block;line-height: 34px;}
.product-list-head{font-size: 24px;text-align: center;}
.product-list-title{line-height: 34px;font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}

.product-show{position: relative;}
.product-show-item{background:#52b6d0 url('../../images/index/bg.jpg') 0 0 repeat;display: none;}
.product-show-item.current{display: block;}

.itemwrap .itembox{/* background-color: #52b6d0; */}
.index-box .itembox .leftarea{width: 32.0833%;float: left;max-height: 550px;overflow-y: auto;}
.index-box .itembox .rightarea{width: 67.9167%;float: left;position: relative;}
.index-box .itembox .leftarea .areabox{padding: 0 15px;height: 100%;} 

.product-show .btn-ctrl-l{left: -25px;width: 25px;}
.product-show .btn-ctrl-r{right: -25px;width: 25px;background-position: 3px -39px;}

.itembox img{display: block;width: 100%;}
.itembox .btn-group-wrap{padding:10px 15px;}
.itembox .btn-group{width: 100%;}
.itembox .btn-group .btn{width: 49%;border: #f8b62b 1px solid;color: #FFF;font-weight: bold;font-size: 28px!important;padding: 4px 0;}
.index-box .itembox .btn-group .btn-default{background: transparent !important;}
.index-box .itembox .btn-group .btn-warning{background: #f8b62b !important;}

.index-box .itembox .title{font-size: 48px;padding: 13% 0;line-height: 1;font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.index-box .itembox .intro{font-size: 20px;}
.index-box .itembox .intro p{margin: 0;padding-bottom: 8%;}

.card-left{width: 14.5834%;float: left;font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.card-right{width: 85.4166%;float: left;}

.card-left .list-group{ max-height: 590px; overflow-y: auto;margin-bottom: 10px;font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.card-left .list-group-item{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;padding:8px 10px;border-top:1px dashed #FFF;font-size: 16px;font-weight: bold;color: #FFF;}
.card-left .list-group-item:nth-of-type(1){border:none;}
.card-left .list-group-item img{display: inline-block;width: 18px;height: 18px;vertical-align: middle;margin-right: 5px;}
.card-left .list-group-item-warning{background-color: #f8b62b;}
.card-left .list-group-item-info{background-color: #52b6d0;margin-top: -1px;}
.card-left .list-group .card-cata-title{padding: 18px 0;font-size: 24px;}
.card-left .list-group .list-group-item-warning:hover,.card-left .list-group .list-group-item-warning:focus{background-color: #eeac22;}


.card-right .card.card-product{margin-bottom: 10px;}
.card-right .card.card-product .body{padding: 10px 0;}


.solution img{max-width: 100%;margin:0 auto;display: block;}
.solution .row{padding-top: 5%;padding-bottom: 5%;}
.solution h4{margin: 0 0 20px 0;font-family: "Roboto","Arial","Tahoma","sans-serif","FZLanTingHei-H-GBK";}
.problem-txt{/* width: 68%; */border:1px dashed #333;padding: 10px;margin-bottom: 15px;}
.ico-problem-b{width: 32%;vertical-align: top;}
.ico-problem-b:nth-of-type(odd){transform: translate(10px, 38px);-moz-transform: translate(10px, 38px);-webkit-transform: translate(10px, 38px);-o-transform: translate(10px, 38px);}
.ico-problem-b:nth-of-type(even){transform: translate(-10px, 38px);-moz-transform: translate(-10px, 38px);-webkit-transform: translate(-10px, 38px);-o-transform: translate(-10px, 38px);}
.ico-problem{float: left;position: relative;}
.ico-problem-img{width: 40%;margin-top: -18px;}
.ico-problem-img div{width: 100%;position: relative;padding: 50%;}
.ico-problem-img span{display: block;width: 100%;position: absolute;top: 0;right: 0;bottom: 0;left: 0;}
.ico-problem-img span img{display: block;width: 100%;height: 100%;}

.ico-problem-arrow{color: #000;height: 15px;width: 60%;border-top:3px solid;}
.ico-problem-arrow:before{content: '';position: absolute;top: 0;width: 14px;height: 14px;margin-top: -8px;background-color: #000;border-radius: 50%;}
.ico-problem0.ico-problem-arrow:before{left: -10px;}
.ico-problem1.ico-problem-arrow:before{right: -10px;}

/* qualification.html */
.card-product-box a.card.card-product{display: block;}
/* 资质齐全包过环评 */
.qualification{}
.qualification .row{background-color: #E0E0E0;padding:0 2% 4%;margin-bottom: 0;margin:0;}
/* .qualification .row>div{padding:0 7px;} */
.qualification-card-group{padding: 0;}
.qualification-card-group a.card{padding:0 7px;margin-bottom: 10px;background-color: transparent;display: block;}
.qualification .row .card{margin-bottom: 10px;}

/*看了又看*/
.looked-body{position: relative;padding-bottom: 273%;overflow: hidden;width: 91%;float: right;}
.looked-cell{position: absolute;top:0;left:0;width: 99.9999%;height: 100%;}
.looked-cell p{margin:0;height: 33.3333%;padding:2px;}
.looked-cell p img{background: #EEEEEE url('../../images/default.png') center center no-repeat;}
.looked-ico,.looked-title{width: 91%;float: right;}
.looked-ico{margin-top: 5px;}
.looked-ico .ico{width: 25px;height: 15px;background: url('../../images/icon/ico-arrow.png') 0 0 no-repeat;}
.looked-ico .ico-down{background-position: 0 -78px;}
.looked-ico .ico-up{background-position: 0 -93px;}
.new-box .looked-body{padding-bottom: 546%;}
.new-box .looked-body p{height: 16.66665%;}
/* 案例视频 */
.card-video{border:1px solid #e2e2e2;margin-top: 4%;}
.case-box .card-list .card.card-video .body{padding:15px;}
.card.card-video .body{padding: 10px;}
/* .case-video-box img,.case-video-box video{width: 100%;} */
.case-video-box .leftarea{width:17.18%;float: left;}
.case-video-box .rightarea{width:82.82%;float: left;}
.case-video-box .leftarea .looked-body,.case-video-box .leftarea .looked-ico{float: none;}
.case-video-box .leftarea .looked-ico{margin-bottom: 0;}
.video-box{position: relative;padding-bottom: 59.95%/* 56.25% */;background-color: #E0E0E0;}
.video-cell{position: absolute;top:0;bottom: 0;right: 0;left: 0;height: 100%;width: 100%;}
.video-cell img{display: block;}
.video-cell img,.video-cell video{width: 100%;height: 100%;}

/* 所在位置 */
.location-tip{height: 35px;line-height: 35px;font-size: 14px;color: #626262;/* border-bottom: 1px solid #52b6d0; */}
.location{position: relative;height: 35px;line-height: 35px;margin-right: 10px;}
.location-tip .search-tip span{display: inline-block;margin: 0 2px;}

/* 环保验收成功案例 */
/* 环保验收成功案例导航 */
.nav-limit{display: -webkit-flex;display: flex;flex-direction: row;align-items: center;}
.nav-limit li{width: 16.6666%;display: block;text-align: center; float: left;}
.nav-limit li>a{color: #333;padding: 10px 2px;/* overflow: hidden;text-overflow: ellipsis;white-space: nowrap; */}
/* 环保验收成功案例轮播 */
.case-box.qual-body{position: relative;}
.case-box.qual-body .swiper-container{margin: 10px 25px 0;}
.case-box.qual-body .swiper-container img{display: block;width: 100%;max-width: 380px;}
.case-box.qual-body .swiper-button-next{right: 0px;} 
.case-box.qual-body .swiper-button-prev{left: 0px;}
.swiper-slide-title{font-size: 30px;}

