<div class="headbox">
	<div class="topbox" data-is-pc="true">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-10 col-sm-9 col-xs-12">欢迎访问广东中联邦精细化工有限公司网站！</div>
				<div class="col-md-2 col-sm-3 col-xs-12 p-r-0">
                		<a href="javascript:;">设为首页</a> 
                		<span class="line"></span>
                		<a href="javascript:;">网站地图</a> 
				</div>
			</div>

		</div>
	</div>

    <!-- logo start -->
    <nav class="navbar z-depth-0 navbar-static">
        <div class="container">
            <div class="navbar-header">
               <a href="javascript:;" class="navbar-toggle" id="openSidebar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="navbar-brand" href="index.html">
                  <img src="../images/logo2.jpg">
                </a>
                
            </div>
            <ul class="nav navbar-nav navbar-right" is-pc="true">
                <li class="service-hotline">
                    <a href="javascript:;" class="btn-block">
                        <div class="info-box z-depth-0">
                            <div class="icon">
                                <span class="ico-phone"></span>
                            </div>
                            <div class="content">
                                <div class="font-18">服务热线：</div>
                                <div class="number font-bold">137-1348-3638</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="align-center">
                    <a href="javascript:;">
                        <div><span class="ico-navbar ico-navbar1"></span></div>
                        <div><small>手机网站</small></div>
                    </a>
                </li>
                <li class="align-center">
                    <a href="javascript:;">
                        <div><span class="ico-navbar ico-navbar2"></span></div>
                        <div><small>我的热线</small></div>
                    </a>
                </li>
                <li class="align-center">
                    <a href="javascript:;">
                        <div><span class="ico-navbar ico-navbar3"></span></div>
                        <div><small>官方微信</small></div>
                    </a>
                </li>
                <li class="align-center">
                    <a href="javascript:;">
                        <div><span class="ico-navbar ico-navbar4"></span></div>
                        <div><small>官方微博</small></div>
                    </a>
                </li>
                
                
            </ul>  
        </div>
    </nav>
    <!-- logo end -->
</div> 