
<div class="shop-list-box">
    <div class="container clearfix" data-ispc="true">
        <div class="shop-class dropdown">
            <a href="javascript:;" class="btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
               <h3><i class="material-icons">menu</i>产品中心</h3>
            </a>  
            <ul class="dropdown-menu">
                <li class="menu-item">
                    <a href="http://www.baidu.com">
                      <img src="../images/icoShop/ico_01.png" class="ico">
                      洗衣粉
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_02.png" class="ico">
                      清洗粉
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_03.png" class="ico">
                      洗洁精
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_04.png" class="ico">
                      洗衣液
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_05.png" class="ico">
                      清洗剂
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_06.png" class="ico">
                      工业清洗行业
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_07.png" class="ico">
                      酒店客房
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_08.png" class="ico">
                      餐饮行业
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_09.png" class="ico">
                      洗衣房
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li><li class="divider"></li>
                <li class="menu-item">
                    <a href="javascript:;">
                      <img src="../images/icoShop/ico_10.png" class="ico">
                      公共区域
                      <i class="material-icons pull-right">keyboard_arrow_right</i>
                    </a>
                </li>
            </ul> 
        </div>
        <ul class="nav">
              <li><a href="index.html" class="active" target="_blank">首页</a></li>
              <li><a href="productList.html" target="_blank">洗衣粉</a></li>
              <li><a href="productList.html" target="_blank">洗洁精</a></li>
              <li><a href="productList.html" target="_blank">清洗剂</a></li>
              <li><a href="agentJoin.html" target="_blank">代理加盟</a></li>
              <li><a href="oemService.html" target="_blank">OEM服务</a></li>
              <li><a href="aboutUs.html" target="_blank">关于我们</a></li>
        </ul>      
    </div>
</div>