@media screen and (max-width: 415px){
	.fly-box{display: none;}
	.detail-box .product-title .title h3{font-size: 16px;}
	.detail-box .product-title .title div{font-size: 13px;}
	/* 
	.product-classify .item-body a{padding: 4px;width: auto;}
	.product-classify .menu-item a span{margin-right: 1px;}
	.product-classify .menu-item a i{margin-right: -10px;} */
}
@media screen and (min-width: 416px) and (max-width: 440px){
	.fly-box{width: 45px;}
}
@media screen and (min-width: 441px) and (max-width: 460px){
	.fly-box{width: 60px;}
}
@media screen and (min-width: 461px) and (max-width: 484px){
	.fly-box{width: 70px;}
}
@media screen and (min-width: 485px) and (max-width: 765px){
	.fly-box{width: 80px;}
}

@media screen and (max-width: 554px){
	.application-cell{padding:26.4% 25%;}
	.about-us-box .vbtn-group .vbtn{font-size: 14px;}
}
@media screen and (max-width: 320px){
	.about-us-box .vbtn-group .vbtn{font-size: 12px;}
}
@media screen and (max-width: 767px){
	/* .navbar-static.navbar {padding: 0;} */
	.navbar-static .navbar-header{padding-left: 15px;}
	.navbar-static .navbar-nav>li.service-hotline{display: none;}
	.navbar-static .navbar-brand{width: 86%;}

	/* .my-right-sidebar{right: 0;}
	    .overlay{display: block;} */

    .search-box-left,.location-tip{float: none;width: 100%;text-align: left;}
    .search-box-right{float: none;width: 100%;}

	.product-show .container{padding-left: 15px;}
    
	.product-classify,.list-box .product-classify{width: 100%;}

	.product-classify .item-body a,
	.list-box .product-classify .item-body a{display: block;width: 100%;padding:10px 0;border-bottom:1px solid #0d7ad7;margin-bottom: -1px;  }
	.product-classify .item-body a{padding:8px 0 9px;color: #ff7802;}
	/* .list-box .product-classify .item-body a{padding-top: 9px;} */
	/* .product-classify .item-body a:last-child,
	.list-box .product-classify .item-body a:last-child{border-bottom: none;} */
    .list-box .product-show{padding-top: 0;}
    .list-box .product-classify .list-group-item{border-top:1px solid #0d7ad7;border-bottom:1px solid #0d7ad7;}
	.list-box .product-classify .list-group-item:first-child{border-top: none;}
	/* .product-classify,.list-box .product-classify, */.list-box .product-display{width: 100%;}
	.product-classify .card .card-image img{height: 50px;}
	.product-classify .title .title-sec img{height: 30px;}
	.product-classify .title .title-ch{font-size: 18px;}
	/* .product-classify img{display: none;} */
	/* .product-classify .card{display: block;} */
	.product-classify .item-title{margin: 0; font-size: 16px;text-align: left;position: relative;}
	/* .product-classify .item-body a{padding: 10px;width: auto;} */
	.product-classify .item-body{display: none;}
	.product-classify .item-body .line{display: none;}
	.product-display,.list-box .product-display{width: 100%;}

	.list-box .product-display,
	.detail-box .row>div{padding-left: 0;padding-right: 0;}

	.product-card .card{margin-top: 10px;margin-bottom: 5px;}
	.product-show .product-classify>.clearfix{width: 50%;position: relative;float: left;border-right: 1px solid #0d7ad7;}
    .product-show .product-classify>.clearfix:last-child{margin-left: 0px;border-left: 1px solid #0d7ad7;border-right: none;}
    .list-box .product-show .product-classify>.clearfix:last-child{margin-left: 0px;} 
	.list-box .product-classify .title .title-ch{font-size: 14px;}
	.product-classify .item-title{padding:10px;}
	.product-classify .menu-item a{font-size: 14px;}
	.product-show .product-classify .item-body{position: absolute;top:-1px;left: 100%;background-color: #f6f6f6;width:96%;z-index: 2;padding:0 10px;border:1px solid #0d7ad7;}
	.list-box .product-classify .item-body{background-color: #fff;border:1px solid #0d7ad7;}
	.product-show .product-classify>.clearfix:last-child .item-body{left: -96%;margin-left: 1px;}
    .product-show .product-classify .item-title.current:after{content: '';display: block;position: absolute;top: 0px;bottom: 0px;right:-2px;width:2px;overflow: hidden;background: #f6f6f6;z-index: 3}
    .product-show .product-classify>.clearfix:last-child .item-title.current:after{display: none;}
    .product-show .product-classify>.clearfix:last-child .item-title.current:before{content: '';display: block;position: absolute;top: 0px;bottom: 0px;left: 0;width:2px;overflow: hidden;background: #f6f6f6;z-index: 3}
    .list-box .product-classify .item-title.current:after{background: #fff;right: -2px;}
    .list-box .product-classify>.clearfix:last-child .item-title.active:after{display: none;}
    .list-box .product-classify>.clearfix:last-child .item-title.active:before{background: #fff;left: 0px;}
    .product-classify .item-body a.active, 
    .product-classify .item-body a:focus, 
    .product-classify .item-body a:hover{border-bottom: 1px solid #0d7ad7;}
    .list-box .product-classify .list-group-item{margin-bottom: 0;border-bottom: none;}
    
    .list-box .product-display .product-card .list-group{margin-bottom: 0;}
	.list-box .product-display .product-card .list-group-item img{text-align: center;}
	.list-box .product-display .product-card .list-group-item .col-xs-12{padding-right: 0;}
	.list-box .product-display .product-card .list-group-item .col-xs-12 h4{text-align: center;}
    .product-classify .menu-item a .ico-arrow-l,
    .product-classify .menu-item .ico,
    .product-classify .menu-item.current .ico,
	.product-classify .menu-item:hover .ico,
	.product-classify .menu-item:focus .ico{display: none;}

    .new-box .product-show .product-classify>.clearfix{border: none;margin-left: 0;width: 100%;}
    .new-box .product-show .product-display .product-card>.row{margin-top: 0;}
    .new-box .product-show .product-display .product-card .list-group-item{padding:10px;}
    .new-box .product-show .product-display .product-card .list-group-item .col-xs-5{padding-right:10px;}
    .new-box .product-show .product-display .product-card .list-group-item h4{font-size: 16px;line-height:18px;margin-top: 0;margin-bottom: 20px;}
    .new-box .product-show .product-display .product-card .list-group-item h4 i{font-size: 16px;}

    .new-box .product-show .product-display .product-card .list-group-item span.time i{vertical-align: middle;margin-top: -1px;}
    /* .product-classify .list-group{overflow-y:auto;max-height: 300px;} */
    /* 公司动态、行业资讯、常见问题 */
    .tab-show{display: block;}
    .tab-show-card{display: none;}
     
	/* 轮播图 */
    .swiper-box img{display: inline-block;min-height: 120px;object-fit: contain;max-width: 100%;}

    /* .footbox-b{padding: 30px 0;} */
    .footbox-b .logo-box .line{display: none;}
    .footbox-b .logo-box .logo{margin-left: 0;}
    .footbox-b .telphone{position: relative;}
    .qrcode-wrap{float: left;}

    .reason-img-l,.reason-img-r{text-align: center;}
    .reason-txt-r{text-align: left;}
    .reason-box:before{left: 10px;display: block;}
    .reason-img:before,
    .reason-txt:before{left: -14px;display: block;}
    .reason-txt-r:before{margin-left: 0;}
    .reason-box:after{display: block;}
    
    .banner-card.card .card-image .card-content{font-size: 20px;}
    .banner-card .card-content .num{font-size: 24px;}

    .rect-box{width: 100px;height: 100px;}
    .rect-txt{font-size: 20px;}
    .section-title{font-size: 24px;}
    .issue-show{display: block;}

    .cart-title{font-size: 16px;}

    [data-ispc~=true]{display: none;}
    [data-ispc~=false]{display: block;}

    /* .popover-box .title div:first-child{font-size: 20px;}
    .popover-body{font-size: 12px;} */

    .sample-box{padding:0;}
    .new-box .product-show .product-display .product-card .list-group-item p{display: none;}
 
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	/* .navbar-static.navbar {padding: 20px 0;} */
	.navbar-static .navbar-header{width: calc(62.7% - 25px);}
	.navbar-static .navbar-nav>li.service-hotline{display: none;}
	.navbar-static .navbar-nav>li>a{margin-top: 0;}

	/* .shop-list-box .shop-class{width: 100%;} */

	.shop-list-box .container{padding-right: 0;padding-left: 0;}
	/* .shop-list-box .shop-class h3{line-height: 50px;} */
	.my-right-sidebar .shop-list-box .shop-class h3{line-height: 60px;}
	.shop-list-box .shop-class,.shop-list-box .nav{float: none;width: 100%;}
	/* .shop-list-box .nav li{width: 33%;}
	.shop-list-box .nav li a{padding: 0 5px;} */

	.search-box-left,.location-tip{float: none;width: 100%;text-align: left;}
	.search-box-right{float: none;width: 100%;}

    .product-show .container{padding-left: 15px;}
	.product-classify, .list-box .product-classify,.list-box .product-display{width: 100%;}
	.product-classify .card .card-image img{height: 50px;}
	.product-classify .title .title-sec img{height: 30px;}
	.product-classify .title .title-ch{font-size: 18px;}
	/* .product-classify img{display: none;} */
	/* .product-classify .card{display: block;} */
	.product-classify .item-title{margin: 0;text-align: left;}
	/* .product-classify .item-body a{padding: 5px;width: auto;} */
	/* .product-classify .item-body .line{display: none;} */
	.product-display/*, .list-box .product-display */{width: 100%;}
	/* .product-card .card{margin-top: 0px;} */

	/* 轮播图 */
	.swiper-box img{display: inline-block;min-height: 120px;object-fit: cover;max-width: 100%;}
	.footbox-b .logo-box .line{display: none;}
	.footbox-b .logo-box .logo{margin-left: 0;}

	.rect-box{width: 150px;height: 150px;}
    .rect-txt{font-size: 20px;}
    .section-title{font-size: 24px;}
    .product-classify .list-group{max-height: 491px;overflow-y: auto;}

    .product-classify-v2,.list-box .product-classify-v2{width: 50%;}
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
	/* .shop-list-box .shop-class{width: 100%;}
	.shop-list-box .nav{float: none!important;width: 100%;} */
	.shop-list-box .container{padding-right: 0;padding-left: 0;}

	.search-box-left,.location-tip{float: none;width: 100%;text-align: left;}
	.search-box-right{float: none;width: 100%;} 

    /* 轮播图 */
    .swiper-box img{display: inline-block;min-height: 120px;object-fit: cover;max-width: 100%;}
    .footbox-b .logo-box .line{display: none;}
    .product-classify .list-group{max-height: 700px;overflow-y: auto;}

}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.navbar-static.navbar .navbar-nav>li.service-hotline{display: none;}
	/* .navbar.navbar-static .navbar-nav{display: block;} */
	.product-classify .item-body a{width: auto;/* padding: 10px; */min-width: 80px;}
	.product-classify .item-body .line {padding: 14px 5px 5px;margin-left: 10px;}

	.product-classify .list-group{max-height: 828px;overflow-y: auto;}
	.product-show .product-classify-v2 .list-group-item{position: static;}
	.product-show .product-classify-v2 .item-body{
		position:absolute;left:98%;top:-1px;bottom:-1px;width:100%;/* height: 100%; */
		border:1px solid #0d7ad7;z-index:2;
	}
	.product-show .product-classify-v2 .item-title.current:after{content: '';display: block;position: absolute;top: 0px;bottom: 0px;left:96%;width:10px;overflow: hidden;background: #f6f6f6;z-index: 5;}
    .product-show .product-classify-v2 .menu-item.current:after{background-color: #fff;}
}
@media screen and (min-width: 1200px){
	.contact-info-box{padding:0 8%;}
	.product-classify .list-group{max-height: 828px;overflow-y: auto;}
	.product-show .product-classify .list-group-item{position: static;}
	.product-show .product-classify .item-body{
		position:absolute;left:98%;top:-1px;bottom:-1px;width:100%;/* height: 100%; */
		border:1px solid #0d7ad7;z-index:2;
	}
	.product-show .product-classify-v2 .item-title.current:after{content: '';display: block;position: absolute;top: 0px;bottom: 0px;left:96%;width:10px;overflow: hidden;background: #f6f6f6;z-index: 5;}
    .product-show .product-classify-v2 .menu-item.current:after{background-color: #fff;}
}