.index-box,.list-box{font-family:"Microsoft YaHei","微软雅黑";word-wrap:break-word;}
.white{background-color: #FFF;}
.z-depth-0{box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;}

.table-cell-wrap{display: table;width: 100%;height: 100%;}
.table-cell{display: table-cell;vertical-align: middle;}

.card .card-image {position: relative;}
.card .card-image img {display: block;position: relative;left: 0;right: 0;top: 0;bottom: 0;width: 100%;}
.card .card-image .card-content{position: absolute;top:0;left: 0;right: 0;}

.text-shadow{text-shadow: 1px 1px 1px #000;}
.text-shadow-w{text-shadow: 1px 1px 1px #FFF;}

.topbox{background:#CCEDFC;color: #888;font-size: 12px;padding: 10px 0;}
.topbox a{color: #888;}

.listbg{background: url('../../images/list/lbg.png') 0 0 repeat;}

/* 竖线 */
.line{display: inline;font-size: 0;padding: 14px 10px 5px;border-left: 1px solid;margin-left: 20px;}

/* 设为首页、网站地图那里的竖线 */
.topbox .line{padding: 10px 8px 1px;}

/* logo 位置的navbar*/
.navbar-static.navbar{position: static;padding: 3.58% 0;margin-bottom: 0;}
.navbar-static .navbar-header{padding-left: 0;padding-top: 0;padding-bottom: 0;position: relative;}
.navbar-static .navbar-toggle{color: #000;background-color: #00a7eb;}
.navbar-static .navbar-toggle{width: auto;height: auto;margin: 0;margin-right: 15px;position: absolute;right: 0px;top:50%;margin-top: -17px;}
.navbar-static .navbar-toggle .icon-bar{background-color: #f9f9f9;border-color: #f9f9f9;}
.navbar-static .navbar-toggle:before{content: '';display: none;}
.navbar-static.navbar>.container .navbar-brand{height: auto;padding: 0;margin-left: 0;}
.navbar-static .navbar-brand img{max-width: 100%;}
.navbar-static .navbar-nav>li>a{margin-top: 0;}
/* 头部小屏幕收缩内容 */
.service-hotline img{display: block;width: 230px;height: 51px;}
.service-hotline .info-box{height: auto;background-color: transparent;margin-bottom: 0;}
.service-hotline .info-box .icon{width:auto;height: auto;background-color: transparent;}
.service-hotline .info-box .icon span{display: block;width: 40px;height: 40px;margin-top: 5px;background: url('../../images/icon/ico-phone.png') 0 0 no-repeat;}
.service-hotline .info-box.hotline-blue .icon span{background-position: 0 -39px;margin-top: 8px;}
.service-hotline .info-box .content{padding-top: 0;padding-bottom: 0;}
.service-hotline .info-box .content div{line-height: 26px;color: #ff5500;}
.service-hotline .info-box.hotline-blue .content div{color: #00a7eb;}

.index-box .navbar-nav>li>a{color: #888;}
.divider{height: 3px;overflow: hidden;background-color: #2db6ed;}
.ico-navbar{display: inline-block;vertical-align: middle;width: 34px;height: 34px;background: url('../../images/icon/navbar.png') no-repeat;}
.ico-navbar1{background-position: 0 0px;}
.ico-navbar2{background-position: 0 -34px;}
.ico-navbar3{background-position: 0 -68px;}
.ico-navbar4{background-position: 0 -102px;}
.ico-navbar.ico-qq{height: 18px;width: 18px;background-position: 0 -136px;margin-right: 10px;}

/*产品中心+导航*/
.shop-list-box{/* height:60px; */color:#FFF;}
.shop-list-box .container{padding-right: 0;padding-left: 0;}

.shop-class{width:268px;position:relative;}
.shop-class h3{line-height:60px;background:#00a7eb;font-size:18px;margin: 0;padding-top: 0;font-weight: normal;}
.shop-class h3 .material-icons{vertical-align: middle;margin-left: 15px;margin-right: 10px;position: relative;margin-top: -2px;}
.shop-list-box .shop-class>a{text-decoration: none;color: #FFF;}
.shop-list-box .shop-class,.shop-list-box .nav{float: left;}
.shop-list-box .shop-class .dropdown-menu{right: 0;width: 100%;margin-top: 0px !important;border:1px solid #e5e5e5;background-color: rgba(255, 255, 255, 0.95);}
.shop-list-box .shop-class .dropdown-menu>li>a{color: #333;font-size: 16px;}
.shop-list-box .shop-class .dropdown-menu>li.current>a{color: #00a7eb;}
.ico-shop{display: inline-block;vertical-align: middle;width: 25px;height: 25px;margin-right:5px;background: url('../../images/icon/ico-shop.png') no-repeat;position: relative;margin-top: -4px;}
.ico-shop0{background-position: -2px 0;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover,
.shop-list-box .shop-class .dropdown-menu>li>a:hover{color: #00a7eb;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop0,.current .ico-shop0{background-position: -2px -25px;}
.ico-shop1{background-position: -2px -50px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop1,.current .ico-shop1{background-position: -2px -75px;}
.ico-shop2{background-position: -2px -100px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop2,.current .ico-shop2{background-position: -2px -125px;}
.ico-shop3{background-position: -4px -150px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop3,.current .ico-shop3{background-position: -2px -175px;}
.ico-shop4{background-position: -2px -200px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop4,.current .ico-shop4{background-position: -2px -225px;}
.ico-shop5{background-position: -2px -250px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop5,.current .ico-shop5{background-position: -2px -275px;}
.ico-shop6{background-position: -2px -300px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop6,.current .ico-shop6{background-position: -2px -325px;}
.ico-shop7{background-position: -2px -350px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop7,.current .ico-shop7{background-position: -2px -375px;}
.ico-shop8{background-position: -2px -400px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop8,.current .ico-shop8{background-position: -2px -425px;}
.ico-shop9{background-position: 0px -450px;}
.shop-list-box .shop-class .dropdown-menu>li>a:hover .ico-shop9,.current .ico-shop9{background-position: 0 -475px;}

.shop-list-box .nav{line-height:36px;}
.shop-list-box .nav li{float:left;text-align:center;}
.shop-list-box .nav li a{font:18px/36px "Microsoft YaHei","微软雅黑";display:block;padding: 11px 46px 13px;color: #000;}


.my-right-sidebar{top: 0px;/* height: 100%; */bottom:0;width: 280px;background-color: transparent;right: -280px;height: 100%;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;}
.nav-wrap{width: 100%;height: 100%;}
.my-right-sidebar .dropdown-menu{ position: static;margin-top: 60px !important;float: left;width: 160px;}
.my-right-sidebar .shop-list-box{padding-left: 160px;}
.my-right-sidebar .shop-list-box .container{padding-right: 0;padding-left: 0;}
.my-right-sidebar .shop-list-box .shop-class h3{/* line-height: 50px; */color: #FFF;padding-left: 15px;padding-right: 15px;}
.my-right-sidebar .shop-list-box .shop-class h3:after{content: '+';display: block;float: right;font-size: 18px;line-height: 60px;}
.my-right-sidebar .shop-list-box .shop-class h3.active:after{content: '\2013';}
.my-right-sidebar .dropdown-menu>li>a{padding:5px 10px;}
.my-right-sidebar .dropdown-menu>li>a i.material-icons{margin-right: 0;}
.my-right-sidebar .dropdown-menu.active{display: block;}


/* .my-right-sidebar .shop-list-box .shop-class, .shop-list-box .nav{float: none;width: 100%;}*/
.my-right-sidebar .shop-list-box .shop-class{width: 100%;}
.my-right-sidebar .shop-list-box .nav{float: none;width: 100%;}
.my-right-sidebar .shop-list-box .nav li{width: 100%;}
.my-right-sidebar .shop-list-box .nav li a{color: #fff;background-color: #00a7eb;display: block;padding:12px 15px;text-align: left;border-top:1px solid #fff;}
.my-right-sidebar .shop-list-box .nav li a:hover,
.my-right-sidebar .shop-list-box .nav li a:focus{color: #fff;}

.navbar-static.navbar .collapse{position: absolute;right: 0;left: 0;bottom:0;top:0;background-color: #fff;z-index: 9;}

/* 顶部搜索框 */
.search-box{min-height: 50px;}
.search-box .container{border:1px solid #dad7d7;padding-left: 0;padding-right: 0;}
.search-box-left{width: 253px;float: left;font-size: 16px;text-align: center;height: 50px;line-height: 50px;position: relative;color: #FFF;font-weight: bold;padding-left: 15px;margin-top: -1px;margin-bottom: -1px;}
.search-box-left:before{content: '';display: block;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #0798dc url('../../images/index/titbg.png') no-repeat 0 0 /100% 100%;z-index: -1;}

.search-box-right{width:60%;float: right;padding:7px 10px;}
.search-box-right .row{margin-left: 0;margin-right: 0;}
.search-box-right .search-nav{padding: 6px 40px 6px 0;position: relative;}
.search-box-right .search-nav .nav-ctrl{position: absolute;top:7px;bottom: 0;right: -10px;}
.search-box-right .search-nav a{border-bottom: 1px solid transparent;display: inline-block;padding: 0px 2px;font-size: 14px;text-decoration: none;margin:0 8px;color:#666;}
.search-box-right .search-nav a.active{border-color: #00a7eb;}
.search-box-right .search-nav .label{padding: 9px 8px;background-color: #00a7eb;}
.search-box-right .search-nav .label.disabled{background-color: #E3E3E3;}
.search-box-right .input-group{margin-bottom: 0;}
.search-box-right .input-group .input-group-addon .material-icons{position: relative;margin-top: 2px;}

/* 您现在的位置 */
.list-box .search-nav a,.list-box .search-nav{font-size: 12px;color: #a3a2a2;}
.location-tip{width: 32%;float: left;height: 35px;line-height: 35px;font-size: 12px;}
.location{display: inline-block;position: relative;border-bottom:1px solid #f3b100;height: 35px;line-height: 35px;margin-right: 10px;}
.list-box .search-box .input-group{margin: 4px 0;}
.list-box .search-box .input-group .form-control{border:1px solid #ccc;height: 27px;padding:2px 10px;}
.list-box .search-box .input-group-btn{/* background-color: #fe6c0c; */}
.list-box .search-box .input-group-btn>.btn{height: 27px;box-sizing: border-box;padding:0 10px;border:1px solid #ccc;background-color: #fe6c0c;color: #FFF;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;}
.location-tip i{font-size: 20px;vertical-align: middle;color: #fe6c0c;margin-right: 5px;position: relative;margin-top: -2px;}

/* 轮播图 */
.swiper-box img{display: inline-block;width: 100%;}

/* 产品展示 */
.product-show{padding-top: 36px;}
.product-show .container{padding-left: 0;}
.product-show .title h3{margin: 0;float:left;border-bottom:2px solid #0d7ad7;color:#333;font-size: 16px;height:28px;margin-right:10px;position: relative;margin-top: 1px;}
.product-show .title h4{margin: 0;line-height:28px;color:#ADADAD;padding-left:4px;font-size: 14px;font-weight: normal;}
.product-classify{background-color: #f6f6f6;}
.product-classify .card {margin-bottom: 0;/* display: none; */}
.product-classify .card .card-image img{height: 115px;}
.product-classify .title{color: #fff;position: absolute;top:0;right: 0;left: 0;bottom: 0;}
.product-classify .title .title-sec{display: table;width: 100%;height: 100%;}
.product-classify .title .title-sec img{width: auto;height: 40px;display: inline-block;}
.product-classify .title .title-cell{display: table-cell;vertical-align: middle;}
.product-classify .title .title-cell1{width: 40%;text-align: right;padding-right: 8%;}
.product-classify .title .title-ch{font-size: 30px;font-weight: bold;line-height: 1;}
.product-classify .title .title-en{font-size: 12px;line-height: 1;text-transform: uppercase;}
/* 分类列表 */
.product-classify{width: 34%;float: left;border: 1px solid #0d7ad7;margin-bottom: 20px;}
.product-classify .item-title{color: #ff7802;margin:0px 0 14px;padding:16px;font-weight: normal;}

.product-classify .list-group{margin-bottom: 0;}
.product-classify .list-group-item{/* padding:10px;padding-bottom: 13px; */position: relative;;padding:0;border: none;background: #f6f6f6;
	border-top: 1px dashed #0797dd;border-bottom:1px dashed #0797dd;}
.product-classify .list-group-item:first-child{border-top: none;}
.product-classify .list-group-item:last-child{border-bottom: none;}
.product-classify .item-body{color: #ff5500;padding:0 15px;padding-bottom:10px;}
.product-classify .item-body a{text-decoration: none;text-align:center;font-size:14px;display: inline-block;width:90px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;vertical-align: middle;color: #888;padding:11px 0;}
.product-classify .item-body a.active,.product-classify .item-body a:focus,.product-classify .item-body a:hover{color: #ff7802;background-color: transparent;border:none;}

.product-classify .menu-item.current .ico-shop0,.product-classify .menu-item:hover .ico-shop0{background-position: -2px -25px;}
.product-classify .menu-item.current .ico-shop1,.product-classify .menu-item:hover .ico-shop1{background-position: -2px -75px;}
.product-classify .menu-item.current .ico-shop2,.product-classify .menu-item:hover .ico-shop2{background-position: -2px -125px;}
.product-classify .menu-item.current .ico-shop3,.product-classify .menu-item:hover .ico-shop3{background-position: -2px -175px;}
.product-classify .menu-item.current .ico-shop4,.product-classify .menu-item:hover .ico-shop4{background-position: -2px -225px;}
.product-classify .menu-item.current .ico-shop5,.product-classify .menu-item:hover .ico-shop5{background-position: -2px -275px;}
.product-classify .menu-item.current .ico-shop6,.product-classify .menu-item:hover .ico-shop6{background-position: -2px -325px;}
.product-classify .menu-item.current .ico-shop7,.product-classify .menu-item:hover .ico-shop7{background-position: -2px -375px;}
.product-classify .menu-item.current .ico-shop8,.product-classify .menu-item:hover .ico-shop8{background-position: -2px -425px;}
.product-classify .menu-item.current .ico-shop9,.product-classify .menu-item:hover .ico-shop9{background-position: 0 -475px;}



.product-classify .item-body .line{/* padding: 14px 10px 5px;margin-left: 20px; */}
.product-classify .menu-item{font-size: 16px; padding:16px;text-align: center;background: #f5f5f5 url('../../images/list/titbg.png') 0 0 repeat-y /100% 100%;}
.product-classify .menu-item a{display: block;text-decoration: none;color:#333;}
.product-classify .menu-item i{color:#333;}
.product-classify .menu-item.current,.product-classify .menu-item:hover{color: #0790d2;}
.product-classify .menu-item.current a,.product-classify .menu-item:hover a,
.product-classify .menu-item.current i,.product-classify .menu-item:hover i{color: #0790d2;}
/* 产品展示标题 */
.product-display{width: 64%;float: right;}
.product-title{border-bottom:1px solid #0d7ad7;height: 29px;}
.product-title a{line-height: 28px;color: #888;display: inline-block;}
.product-title a .material-icons{font-size: 16px;vertical-align: middle;color: #0e7ad5;position: relative;margin-top: -1px;}
.product-card .col-xs-6:nth-of-type(odd){padding-right: 7px;}
.product-card .col-xs-6:nth-of-type(even){padding-left: 7px;}
.product-card .card{margin-top: 20px;}
.product-card .card .header{padding: 0;}
.product-card .card .header img{display: block;width: 100%;}
.product-card .card .body{background-color: #f6f6f6;}


/* 更多(a链接) */
.more{font-size:12px;padding:0 5px;display: inline-block;position: relative;color: #00a7eb;}

.title-c{display: inline-block;color:#333;font-size: 18px;margin-right:5px;line-height: 18px;}
.title-e{display: inline-block;color:#ADADAD;padding-left:4px;line-height: 18px;text-transform: uppercase;}
.introduct-box .title-e{position: relative;padding: 0 5px;}
.introduct-box .title-e:before,.introduct-box .title-e:after{position: absolute;top: 50%;
	content: '';display: block;width:50px;height: 1px;overflow: hidden;background: #626262;}
.introduct-box .title-e:before{right: 100%;}
.introduct-box .title-e:after{left: 100%;}

/* 友情链接 */
.links-box{position: relative;}
.links-box .title{margin-bottom: -25px;}
.links-box .title img{display: inline-block;margin-left: 15px;height: 48px;}

.links-box .title a{margin-top: 15px;margin-right:5px;vertical-align: middle;background-color: #fff;}
.links-box .breadcrumb{border:1px solid #D9D9D9;padding: 25px 20px;}
.links-box .breadcrumb li{margin:4px 0;}
.links-box .breadcrumb>li+li:before{padding: 5px 12px 5px 5px;}

/* 首页的公司动态、行业资讯、常见问题 小图标 */
.nav-title:before,.ico-fly{content: '';display: inline-block;margin-right: 10px;background: #fff url('../../images/icon/ico-nav.png') 0 0 no-repeat;
width: 20px;height: 20px;vertical-align: middle;margin-top: -4px;}
.nav-title.ico-nav0:before{background-position: 0 0;}
.nav-title.ico-nav1:before{background-position: 0 -20px;}
.nav-title.ico-nav2:before{background-position: 0 -40px;}
.nav-title.ico-nav2{height: 40px;overflow: hidden;display: block;}
.ico-fly{background-position: 0 -60px;}

/* 底部 */
.footbox-t .nav>li{display: inline-block;}
.footbox-t .nav>li>a{padding:5px 0;color: #FFF;font-size: 16px;}
.footbox-t{color: #FFF;background-color: #0790d2;}

.footbox-t .nav>li>a:focus, .footbox-t .nav>li>a:hover{background-color: transparent;}
.footbox-t .input-group{margin-bottom: 0;}
.footbox-t .input-group .form-control{color: #fff;padding-left: 10px;padding-right: 10px;background-color: transparent;border:1px solid #5eb7e2;
border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-o-border-radius: 0;}
.footbox-t .input-group .input-group-btn{background-color: #fff;}
.footbox-t .input-group .input-group-btn>.btn{margin-left: 0;padding: 7px 15px 8px;color: #00a7eb;font-weight: bold;
	border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0;-o-border-radius: 0;
	box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;-webkit-box-shadow: none;}
.footbox-t .input-group .form-control::-webkit-input-placeholder {color: #FFF;}
.footbox-t .input-group .form-control::placeholder{color: #FFF;}
.footbox-t .input-group .form-control::-moz-placeholder {color: #FFF;}
.footbox-t .input-group .form-control::-moz-placeholder {color: #FFF;}
.footbox-t .input-group .form-control:-ms-input-placeholder {color: #FFF;}	
.footbox-b{padding: 6% 0;background: #16a4df url('../../images/index/fbg.jpg') repeat 0 0 /100% auto;color: #fff;}
.footbox-b .nav>li{padding: 5px 0;font-size: 16px;}
.footbox-b .nav>li:first-child{padding-top: 0;}
.logo-box .line{padding: 60px 0 110px;margin-left: 0px;}
.footbox-b .logo{max-width:100%;display:inline-block;margin-left: -15px;}
.qrcode-wrap{width: 140px;float: right;}
.qrcode{display: block;width: 100%;}
.footbox-b .telphone{position: absolute;top:0;right: 0;}
.footbox-b .telphone img{display: block;width: 254px;}
.footbox-b .telphone>a{padding: 0;}
.footbox-b .nav>li.telphone>a:focus, .footbox-b .nav>li.telphone>a:hover{background-color: transparent;}


/* 列表 */
.areabox{width: 100%;}
.mainarea .leftarea{width: 70px;}
.mainarea .leftarea img{display: inline-block;width: 60px;height: 60px;}
.mainarea .rightarea{padding-left: 70px;}


/* 在线拿样 */
.sample-wrap{position: relative;z-index: 0;}
.sample-wrap:after{content: '';display: block;position: absolute;top:60%;left:0;right: 0;bottom:0;background: #fff;z-index: 1;}
.sample-box{padding:0 10px;}
.sample-box .card{position: relative;z-index: 2;}
.sample-box .form-group {margin-bottom: 15px;}
.sample-box .form-group .form-line{border:none;}
.sample-box .form-control{border:1px solid #d0d0d0;padding-left:16px;font-size: 14px;}
.sample-box textarea.form-control{height: 132px;}
.sample-box .operation,.sample-box .operation .col-xs-6{padding-left: 0;padding-right: 0;margin-bottom: 0;}
.sample-box .operation .form-group {margin-bottom: 0px;}
.sample-box .operation img{display: inline-block;height: 38px;width: 100px;}
.sample-box .btn-warning{font-size: 20px!important;background: #f8b62b!important;}


/* 5大理由 */
.circle{border-radius: 50%;}
.banner {overflow: hidden;}
.banner-box{background: #16a4df url('../../images/index/fbg.jpg') repeat 0 0 /100% 100%;padding:2% 0;}
.banner-box img{display: block;width: 100%;}
.banner-box h4{border:1px dashed #fff;border-right: none;border-left: none;padding: 10px 0;font-weight: normal;}

.banner-card{margin-bottom: 50px;}
.banner-card .theme-col-orge{color: #ff7a03;}
.cbtn{display: inline-block;color: #FFF;text-decoration: none;background-color: #fd940b;padding: 2px 10px;margin:0 2px;}
.cbtn:focus,.cbtn:hover{text-decoration: none;color: #FFF;}

.reasonbg{background: url('../../images/index/reasonbg.png') repeat 0 0 /100% auto;}
.reason-wrap .banner-card.card{margin-bottom: 0;background-color: transparent;}
.banner-card .card-image>img{min-height: 80px;object-fit: cover;}
.banner-card.card .card-image .card-content{line-height: 1.2;bottom: 0;font-size: 30px;}
.banner-card .card-content .num{font-style: italic;font-size: 40px;margin-top: -2px;display: inline-block;margin-right: 5px;}
.reason-wrap{padding-bottom: 30px;}
.reason-box{position: relative;padding-bottom: 10px;}
.reason-box .row{margin-left: 0;margin-right: 0;}
.reason-box .row>div{counter-reset:subsection;}
.reason-box.container .row{margin-left: -15px;margin-right: -15px;}
.reason-txt{font-size: 14px;color: #333;line-height: 28px;}

.reason-txt,.reason-img{position: relative;padding: 10px;}
.reason-txt h3{color: #ff8400;font-size: 22px;}
.reason-txt h3 span{position: relative;display: inline-block;border:2px solid transparent;font-size: 32px;width: 46px;height: 45px;line-height: 45px;color: #FFF;text-align: center;font-style: italic;font-weight: normal;margin-right: 5px;
background: url('../../images/index/ico-num.png') 0 0 no-repeat;font-family: "Angular";}
.reason-img-l{text-align: left;}
.reason-img-r{text-align: right;}
.reason-txt-r{text-align: right;}
.reason-img img{display: inline-block;width: 100%;max-width: 345px;}
.reason-box:before,.reason-box:after,.call-box:before{content: '';display: block;overflow: hidden;background-color: #d6d6d6;position: absolute;}
.reason-box:before{width: 2px;top:0;bottom: 0;left: 50%;margin-left: -1px;}
.reason-box:after{height: 2px;bottom:0;left: 10px;right: 50%;display: none;}
.reason-txt:before{content: '';display: block;width: 18px;height:18px;overflow: hidden;background-color: #fff;border-radius: 50%;border:2px solid #0d7ad7;
position: absolute;top:10px;}
.reason-txt-r:before{left: 100%;margin-left: 5px;}
.reason-txt-l:before{left: -25px;}
.call-box{position: relative;padding-top: 10px;padding-bottom: 20px;}
.call-box img{display: block;width:60px;margin: 0 auto; }
.call-box:before{width: 2px;height:10px;top:0;left: 50%;margin-left: -1px;}
.call-box img.call-img{width: 246px;}

.product-classify.noborder{border:none;}

[is-pc~=false]{display: none;}




