.list-box .card-list .list-group{margin:12px 0;padding: 0 7px;}
.list-box .card-list .list-group-item{border: none;padding: 0 7px;}
p.ellipse{height: 60px;line-height: 20px;overflow: hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
p.ellipse4{height: 80px;line-height: 20px;overflow: hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;}


/* 新闻 */
/* 常见问题 */
.card-list-title{/* border-bottom:1px solid #f8b62b; */margin-top: 10px;padding: 10px 0;}
.card-list-title h3{font-size: 24px;line-height: 1;position: relative;float: left;max-width: 100%;}
.card-list-title .line{margin-left: 5px;border-width: 8px;padding:20px 5px 4px;}
.card-list-title .navbar-form{margin: 0;padding: 0;padding-top: 2px;}


/* 小凯推荐 */
.recommend-box{padding-top: 2%;}
.recommend-box .card-list-title{border: none;margin-top: 0;}
.recommend-box .detail-img-wrap {padding-bottom: 100%;position: relative;}
.recommend-box .detail-img{display: block;position: absolute;width: 100%; height: 100%;left: 0; top: 0;}
/* 小凯推荐轮播图 */
.pc-slide {display: block;width: 100%;max-width: 350px;margin: 0 auto;}
.pc-slide .view{border-bottom: 1px solid #ddd;}
.pc-slide .view .swiper-container {width: 100%;}
.pc-slide .view .swiper-container img{display: block;width: 100%;height: 100%;object-fit: cover; }
.pc-slide .preview {width: 100%;position: relative;padding:5px 30px;}
.pc-slide .preview .swiper-container {height: 42px;width: 100%;}
.pc-slide .preview .swiper-slide {width: 50px;height: 100%;cursor:pointer;}
.pc-slide .preview .arrow-left ,.pc-slide .preview .arrow-right {background: url('../../images/icon/ico-arrow.png') no-repeat 0 0;position: absolute;top:7px;bottom:9px;width: 25px;z-index: 4;-webkit-background-size: 20px 72px;
background-size: 20px 72px;}
.pc-slide .preview .arrow-left {left: 2px;background-position: 0 0;}
.pc-slide .preview .arrow-right {right: 2px;background-position: 0 -36px;}
.pc-slide .preview img {padding: 1px;display: block;width: 100%;height: 100%;object-fit: cover;}
.pc-slide .preview .active-nav img {padding: 0;border: 1px solid #52b6d0;}
/* 可选材质 */
.choose-box{padding-top: 8%;}
.choose-title{width: 90px;}
.choose-box .table{margin-bottom: 10px;}
.choose-box .table tbody tr td{padding:10px 0;border: none;}
.choose-foot a,.choose-body a{display: inline-block;font-size: 16px;color: #333;margin:2px;}
.choose-body a{padding: 3px 2px;border:1px solid #52b6d0;line-height: 1;min-width: 64px;text-align: center;}
.choose-body a.active{border-color: #f8b62b;}
.choose-foot{margin-bottom: 10px;padding-left: 12%;}
.choose-foot a{color: #52b6d0;font-weight: bold;font-size: 18px;}
.choose-foot a:first-child{margin-right: 20px;}
.ico-online{margin-right: 5px;width: 100%;background: #fff url('../../images/icon/ico-phone.png') 0 -107px no-repeat;width: 45px;height: 45px;vertical-align: middle;}
.choose-box .divider{height: 2px;margin-bottom: 10px;}
.choose-box p span{display: inline-block;padding-right: 6.7%;line-height: 1;}
/* 看了又看轮播图 */
.reread-cell{max-width: 150px;}
/* .reread-box{position: relative;}
.reread-cell{overflow-y: hidden;position: relative;}
.reread-cell .reread-body{position: absolute;top:0;left: 0;right: 0;}
.reread-cell .rectbox{margin-bottom: 2px;} */

/* .reread-box .swiper-slide{max-height: 150px;height: 150px;width: 150px;} */

.reread-ico .ico{width: 25px;height: 15px;}
/* .reread-box img{max-height: 150px;} */
/* .reread-box .swiper-slide{max-height: 150px;} */


/*新闻详情 */
.new-article-card {/* margin-left: -5px;margin-right: -5px; */}
.new-article-card .header{color: #52b6d0;border-color: #52b6d0;}
.new-article-card.card .header,.new-article-card.card .body{padding:10px 0;}
.new-article-card.card .body{line-height: 24px;font-size: 14px;}
.new-article-card img{display: inline-block;max-width: 100%;margin: 3px;vertical-align: bottom;}
/* .new-article-card .body div{text-indent: 28px;} */
.new-info{font-size: 12px;}
.new-info span{display: inline-block;margin-right: 10px;}

.new-box .reread-cell {/* overflow: hidden; *//* max-width: 150px; *//* margin:2px auto; */}
.new-box .reread-box .rectbox{margin:2px auto;}


/* 案例视频 */
.card-video{border:1px solid #e2e2e2;}

.case-box .card-list .card.card-video .body{padding:10px;}
.case-video-box .leftarea,
.case-video-box .rightarea{float: left;padding:0 5px;height: 100%;}
.case-video-box .leftarea{width: 16%;}
.case-video-box .rightarea{width: 84%;}
.case-video-box .rightarea video{width:100%;/* max-width: 100%;height: 100%; */}
.case-box .case-video-box .swiper-container{margin: 0;}
/* .case-video-wrap{padding-bottom: 47.562%;position: relative;}
.case-video-box{position: absolute;top: 0;left: 0;right: 0;bottom: 0;overflow: hidden;} */

.case-box .gallery-thumbs .swiper-slide{width: 100%;/* height: 5%;background: #000; */}
/* .case-box .gallery-thumbs .swiper-slide img{max-width: 100%;margin:0 auto;} */