.index-box .vbtn-info{font-size: 30px;font-size: 2.14rem;color: #FFF;background-color: #096983;padding: 0px 2px 2px;display: inline-block;
	border-radius: 8px;-o-border-radius: 8px;-webkit-border-radius: 8px;-moz-border-radius: 8px;font-weight: normal;white-space: normal;word-break:break-all; word-wrap:break-word;
}
.index-box .vbtn-info div{background-color: #52b6d0;width: 100%;height: 100%;padding:6px 20px;margin-top: -1px;
	border-radius: 6px;-o-border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;
}
.index-box .vbtn-info:hover,.index-box .vbtn-info:focus{color: #FFF;}

.advantage-box img{display: block;max-width: 100%;}
.advantage-box .row{padding-top: 2%;padding-bottom: 2%;}
.advantage-box{font-size: 25px;}
.advantage-box p{font-size: 22px;margin-bottom: 22px;}

.ico-sq{position: relative;color: #f8b62b;border:3px solid;font-size: 40px;border-right: none;border-bottom: none;padding: 12px;top: -10px;
	border-radius: 4px;}
.ico-sq:before,.ico-sq:after{content: ' ';position: absolute;height: 30%;width: 30%;}	
.ico-sq:before{border-right:3px solid;top:0;right: 0;}
.ico-sq:after{border-bottom:3px solid;bottom: 0;left: 0;}

/* .index-box .card-list .row>div{padding-right: 7px;padding-left: 7px;} */ 

.solve-problem-title {margin-bottom: 10px;}
.solve-problem-title span{position: relative;display: inline-block;}
.solve-problem-title span:after{content: '';position: absolute;display: block;bottom:-10px;left: 0;right: 0;height: 4px;overflow: hidden;background: #f8b62b;}
.solve-problem-box .table-cell-wrap{padding: 4% 0;}
.solve-problem-item1{width: 25%;}
.solve-problem-item1>span{display: inline-block;width: 100%;padding: 17% 1%;border-radius: 50%;-webkit-border-radius: 50%;-o-border-radius: 50%;-moz-border-radius: 50%;}
.vinfo{padding:5px 0 5px 5px;border-radius: 10px;}
.font-140{font-size: 140px;}
.solve-problem-box .ico{width: 25px;height: 25px;background: url('../../images/icon/ico-sp.png') 0 0 no-repeat;margin: 0 5px 0 0;}
.solve-problem-box .ico-sp1{background-position: 0 0;margin-top: -2px;}
.solve-problem-box .ico-sp2{background-position: 0 -25px;margin-top: -2px;}
.solve-problem-box .ico-sp3{background-position: 0 -50px;margin-left: 7px;}
.solve-problem-box .ico-sp4{background-position: 0 -75px;margin-left: 7px;}
.solve-problem-box .ico-sp5{background-position: 0 -100px;margin-left: 7px;}
.solve-problem-box .ico-sp6{background-position: 0 -125px;margin-left: 7px;}
.solve-problem-box .ico-sp7{background-position: 0 -150px;margin-left: 7px;}



/* 公司动态 */
.more{font-size:12px;padding:0 5px;display: inline-block;position: relative;color: #00a7eb;}
.title-c{display: inline-block;color:#333;font-size: 18px;margin-right:5px;line-height: 18px;}
.title-e{display: inline-block;color:#ADADAD;padding-left:4px;line-height: 18px;text-transform: uppercase;}
/* .tab-show{display: none;}
.tab-show-card{display: block;} */
.card-group .card .header,.card-group .card .body{padding: 15px 0px;}
.card-group .line{padding: 12px 10px 1px 2px;margin-left: 0px;border-width: 3px;color: #0f51bb;}

.card-group .nav>li>a,.card-group .card .body.nav-ls .nav>li{color: #666;line-height: 20px;padding: 15px 0;}
.card-group .nav>li>a span{display: inline-block;}
.card-group .card .body.nav-ls{padding: 0 15px;} 
.card-group .card .body.nav-ls .nav>li{border-bottom: 1px dashed #e1e1e1;}

.nav-tabs+.tab-content{padding-top: 0;}
.tab-content .card .body{padding: 0 15px;}

.nav-title:before,.ico-fly{content: '';display: inline-block;margin-right: 10px;background: #fff url('../../images/icon/ico-nav.png') 0 0 no-repeat;
width: 20px;height: 20px;vertical-align: middle;margin-top: -4px;}
.nav-title.ico-nav0:before{background-position: 0 0;}
.nav-title.ico-nav1:before{background-position: 0 -20px;}
.nav-title.ico-nav2:before{background-position: 0 -40px;}
.nav-title.ico-nav2{height: 40px;overflow: hidden;display: block;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.ico-fly{background-position: 0 -60px;}


.card-video{margin-top: 10px;}
.sample-form.pb2{padding-bottom: 2%;}




