
<section class="clearfix">
    <div class="card">
        <div class="card-image">
            <img src="../images/index/titbg1.jpg">
            <div class="title clearfix">
                <div class="title-sec">
                  <div class="title-cell title-cell1"><img src="../images/index/ico-class.png"></div>
                  <div class="title-cell">
                    <div class="title-ch">产品分类</div>
                    <div class="title-en">PRODUCT DISPLAY</div>
                  </div>
                </div>
            </div>  
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop0"></span>洗衣粉<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">强力洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">增白洗衣粉</a>
                     <a href="javascript:;">低温洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">低泡洗衣粉</a>
                     <a href="javascript:;">通用洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">无磷洗衣粉</a>
                     <a href="javascript:;">黄碱洗衣粉</a><span class="line"></span>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop1"></span>清洗粉<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">强力除油粉</a><span class="line"></span>
                     <a href="javascript:;">地毯清洁粉</a>
                     <a href="javascript:;">去渍粉</a><span class="line"></span>
                     <a href="javascript:;">通渠粉</a>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop2"></span>洗洁精<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">通用洗洁精</a><span class="line"></span>
                     <a href="javascript:;">易过水洗洁精</a>
                     <a href="javascript:;">低泡洗洁精</a><span class="line"></span>
                     <a href="javascript:;">餐具洗洁精</a>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop3"></span>洗衣液<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">工业洗衣液</a><span class="line"></span>
                     <a href="javascript:;">去油洗衣液</a>
                     <a href="javascript:;">浓缩洗衣液</a><span class="line"></span>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop4"></span>清洗剂<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">除油洗涤剂</a><span class="line"></span>
                     <a href="javascript:;">除蜡洗涤剂</a>
                     <a href="javascript:;">强力洗涤剂</a><span class="line"></span>
                     <a href="javascript:;">液晶洗涤剂</a>
                     <a href="javascript:;">洗手液</a><span class="line"></span>
                     <a href="javascript:;">全能洗涤剂</a>
             </div> 
        </li>
    </ul>
</section>
<section class="clearfix">
    
    <div class="card">
        <div class="card-image">
            <img src="../images/index/titbg1.jpg">
            <div class="title clearfix">
                <div class="title-sec">
                  <div class="title-cell title-cell1"><img src="../images/index/ico-class.png"></div>
                  <div class="title-cell">
                    <div class="title-ch">行业分类</div>
                    <div class="title-en">Industry classification</div>
                  </div>
                </div>
            </div>  
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop5"></span>工业清洗行业<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">强力洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">通用洗衣粉</a>
                     <a href="javascript:;">工业洗衣液</a><span class="line"></span>
                     <a href="javascript:;">除油清洗剂</a>
                     <a href="javascript:;">液晶清洗剂</a><span class="line"></span>
                     <a href="javascript:;">除锈清洗剂</a>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop6"></span>酒店客房<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">地毯清洁粉</a><span class="line"></span>
                     <a href="javascript:;">去渍粉</a>
                     <a href="javascript:;">通渠粉</a><span class="line"></span>
                     <a href="javascript:;">强力洗衣粉</a>
                     <a href="javascript:;">增白洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">黄碱洗衣粉</a>
                     <a href="javascript:;">洗手液</a><span class="line"></span>
                     <a href="javascript:;">全能清洗剂</a>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop7"></span>餐饮行业<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">餐具洗洁精</a><span class="line"></span>
                     <a href="javascript:;">强力除油粉</a>
                     <a href="javascript:;">低泡洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">通用洗衣粉</a>
                     <a href="javascript:;">去渍粉</a><span class="line"></span>
                     <a href="javascript:;">通渠粉</a>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop8"></span>洗衣房<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix">
                     <a href="javascript:;">强力洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">无磷洗衣粉</a>
                     <a href="javascript:;">增白洗衣粉</a><span class="line"></span>
                     <a href="javascript:;">去油污洗衣液</a>
                     <a href="javascript:;">浓缩洗衣液</a><span class="line"></span>
             </div> 
        </li>
        <li class="list-group-item">
             <div class="item-title menu-item clearfix">
                 <a href="javascript:;"><span class="ico-shop ico-shop9"></span>公共区域<i class="material-icons pull-right">keyboard_arrow_right</i></a>
             </div>
             <div class="item-body clearfix align-center">
                     <a href="javascript:;">全部</a>
             </div> 
        </li>
    </ul>
</section>

