.white{background-color: #FFF;}

.comwidth{max-width: 1200px;min-width: 320px;margin-right: auto;margin-left: auto;width: 100%;box-sizing: border-box;}
.topbox{background:#CCEDFC;color: #888;font-size: 12px;padding: 10px 0;}
.topbox a{color: #888;}
.topbar a:hover{color:#FF0000;}


.topbox .line{display: inline;font-size: 0;padding: 10px 8px 1px;border-left: 1px solid;margin-left: 10px;}


/* 列表 */
.areabox{width: 100%;}
.mainarea .leftarea{width: 70px;}
.mainarea .leftarea img{display: inline-block;width: 60px;height: 60px;}
.mainarea .rightarea{padding-left: 70px;}

.z-depth-0{box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;-o-box-shadow: none;}
.plr0{padding-left: 0;padding-right: 0;}

.card .card-image {position: relative;}
.card .card-image img {display: block;position: relative;left: 0;right: 0;top: 0;bottom: 0;width: 100%;}

.line{display: inline;font-size: 0;padding: 14px 10px 5px;border-left: 1px solid;margin-left: 20px;}