

/* 定制流程、应用案例、关于 */
/* 定制流程 */
.step-box{position: relative;z-index: 2;margin: 70px -10px;}
.step-box:before{content: '';display: block;width: 100%;height: 2px;overflow: hidden;background-color: #626262;position: absolute;left: 0;right: 0;top: 50%;margin-top: -4px;z-index: -1;}
.step-box i{background-color: #fff;width: 24px;height: 24px;color: #0d7ad7;}
.step-box i.disabled{pointer-events: none;}
.step-item span{font-size: 18px;font-weight: bold;display: inline-block;position: absolute;top:0;left: 0;right: 0;bottom: 0;text-transform: uppercase;}
.step-box i[data-placement~=top] ~ span{margin-top: 30px;}
.step-box i[data-placement~=bottom] ~ span{margin-top: -30px;}
.step-item{display: inline-block;width: 18.6%;text-align: center;position: relative;}
.step-box .tooltip-inner{background-color: #00a7eb;}
.step-box .tooltip.top .tooltip-arrow{border-top-color: #00a7eb;}
.step-box .tooltip.bottom .tooltip-arrow{border-bottom-color: #00a7eb;}
/* 应用案例 */
.introduct-box .thumbnail{border:3px solid #4d4c4c;padding: 10px;position: relative;text-decoration: none;}
.introduct-box .thumbnail .label{background-color: #4d4c4c;position: absolute;bottom: -13px;left: 50%;padding: 5px 9px;margin-left: -13px;}

.introduct-box a.thumbnail.active .label, 
.introduct-box a.thumbnail:focus .label, 
.introduct-box a.thumbnail:hover .label{background-color: #337ab7;}
.introduct-box a.thumbnail.active .thumbnail-tit, 
.introduct-box a.thumbnail:focus .thumbnail-tit, 
.introduct-box a.thumbnail:hover .thumbnail-tit{color: #337ab7;}
/* 关于 */
.more-box img{display: inline-block;width: 93px;margin-bottom: -42px;}
.more-box ~ .introduct-box{background-color: #f6f6f6;padding:100px 0 50px;}
.aboutus-img{display: block;width: 100%;}
.aboutus-row p{line-height: 32px;font-size: 12px;}
.honor-box .card{background-color: transparent;}
.honor-box .title-e:before{display: none;}
.honor-box .title-e:after{display: none;}
.honor-box .card .header{border-bottom: none;position: relative;}
.honor-box .card .header:after{content: '';display: block;position: absolute;z-index:0;left:140px;right: 0;top:50%;height: 1px;overflow: hidden;background-color: #d1d1d1;}
.honor-box .more{position: relative;z-index: 1;background-color: #0790d2;color: #FFF;padding:4px 10px;text-decoration: none;display: inline-block;margin-top: -4px;}
.honor-box .thumbnail{border:none;}
.honor-box .thumbnail img{height: 160px;}
.detail-box{padding: 10px;background-color: #ff8400;}
.detail-box .thumbnail{border: 3px solid #fff;background-color: #ff8400;margin-bottom: 0;}
.detail-box .thumbnail img{height: auto;}
.caption-title{position: absolute;right: 0;bottom: 0;left: 0;background-color: #555454;height: 34px;line-height: 34px;font-size: 20px;font-weight: bold;color: #FFF;}
.honor-box a.thumbnail.active .caption-title, .honor-box a.thumbnail:focus .caption-title, .honor-box a.thumbnail:hover .caption-title{background-color: #0790d2;}

/* 公司动态、行业资讯、常见问题 */
.card-group .card .header,.card-group .card .body{padding: 15px 0px;}
.card-group .line{padding: 12px 10px 1px 2px;margin-left: 0px;border-width: 3px;color: #0f51bb;}

.card-group .nav>li>a,.card-group .card .body.nav-ls .nav>li{color: #666;line-height: 20px;padding: 15px 0;}
.card-group .nav>li>a span{display: inline-block;}
.card-group .card .body.nav-ls{padding: 0;} 
.card-group .card .body.nav-ls .nav>li{border-bottom: 1px dashed #e1e1e1;}











