.list-box .product-show>.container{margin-top: 20px;}
.list-box .product-show>.container>div{margin-bottom: 50px;}
.list-box .product-classify{margin-bottom: 0;width: 25%;}
.list-box .product-display{padding:15px 7px 0;width: 74%;}
.list-box .product-display .title h3{border-bottom:2px solid #ff7b00;margin-top: 1px;position: relative;}
.list-box .product-display .product-card .list-group-item{position: relative;}
.list-box .product-display .product-card .list-group-item img{display: inline-block;max-width: 100%;max-height: 235px;}
.list-box .product-display .product-card .list-group:after{display: block;width: 100%;height: 16px;background: url('../../images/list/shadow.png') 0 0 no-repeat /100% 100%;}

.list-box .product-display .product-title{margin-bottom: 15px;}


/* 分页 */
.pagination-box .pagination li.active a{background-color: #f37108;}


.list-box .introduct-box .card{/* margin-bottom: -180px; */}
.list-box .links-box{/* margin-top: 240px; */}
.list-box .product-classify{background-color: transparent;}
.list-box .product-classify .title .title-ch{font-size: 24px;}
.list-box .product-classify .list-group-item{background-color: #fff;padding: 0;border:none;margin-bottom: 5px;}
.list-box .product-classify .item-body{/* padding-right: 15px;padding-left: 15px; */padding-bottom: 0;}
.list-box .product-classify .item-body .line{color: #333;}
.list-box .product-classify .item-body a{width:40%;}
.list-box .product-classify .item-body a{color: #333;}
.list-box .product-classify .item-body a:hover,
.list-box .product-classify .item-body a:focus,
.list-box .product-classify .item-body a.active{color: #0790d2;background-color: transparent;}

.list-box .search-box .container{border:none;border-bottom: 1px solid #dad7d7;}
.list-box .search-box {min-height: 20px;}
.list-box .search-box-right{padding-top: 0;padding-bottom: 0;}
.list-box .search-box-right .search-nav{padding:8px 0;}

.topbanner {padding: 16% 0 0;position: relative;}

.topbanner[is-pc~=false]{padding:36% 0 0;}
.topbanner > img {position: absolute;width: 100%; height: 100%;left: 0; top: 0;}

/* 详情 */
.detail-box .row>div{padding-left: 7px;padding-right: 7px;}
.detail-box .detail-img {padding-bottom: 100%;position: relative;}
.detail-box .detail-img > img {display: block;position: absolute;width: 100%; height: 100%;left: 0; top: 0;}

/* 在线咨询免费样品 按钮 */
.vbtn{text-align: center;display: inline-block;line-height: 43px;color: #FFF;text-decoration: none;font-size: 18px;border-radius: 6px;-webkit-border-radius: 6px;-moz-border-radius: 6px;-o-border-radius: 6px;}
.vbtn:focus,.vbtn:hover{text-decoration: none;color: #FFF;}	
.vbtn-blue{background: url('../../images/list/btnbg.png') 0 0 no-repeat;width: 214px;}
.vbtn-orge{background: url('../../images/list/vbg.jpg') 0 0 repeat-x;border-radius: 6px;}
.vbtn-group .vbtn{width: 90%;}
.vbtn-group>div{padding: 8px 15px;}


.detail-box .product-title{background-color: #eeeeee;height: 38px;margin-top:20px;border-width: 2px;}
.detail-box .product-title .title{color: #088fd5;}
.detail-box .product-title .title h3{position: relative;background-color: #088fd5;font-weight: normal;color: #FFF;border:none;height: 45px;line-height: 45px;font-size: 24px;margin-top: -7px;padding: 0 15px;}
.detail-box .product-title .title h3:before{content: '';width: 0;height: 0;border:7px solid transparent;border-left-color: #0a549f;position: absolute;right: -13px;top:0px;}
.detail-box .product-title .title h3:after{content: '';width: 7px;height: 7px;overflow: hidden;position: absolute;top:7px;right: -7px;background-color: #eee;}
.detail-box .product-title .title div{line-height: 38px;}

.intr-img img{display: block;width: 100%;}

/* 产品详情适用范围 */
.application-wrap{padding: 10px 40px 20px;}
.application-box{width: 100%;}
.application-cell-wrap{overflow: hidden;}

.application-title{font-size: 30px;background-color: #088fd5;padding:3px 0 8px;color: #FFF;position: relative;}
.ico-app{overflow: hidden;display: block;width: 40px;height: 50px;background-color: #0575af;position: absolute;top:10px;}
.ico-app1{left: -40px;}
.ico-app2{right: -40px;}
.ico-app span{display: block;width: 0;height: 0;border:25px solid transparent;}
.ico-app.ico-app1 span{border-left-color: #FFF;}
.ico-app.ico-app2 span{border-right-color: #FFF;margin-left: -10px;}

.application-cell{position: relative;padding:13.2% 12.5%;/* width: 190px;height: 200px; */float: left;}
.application-cell img{display: block;position: absolute;top:0;left: 0;width: 100%;height: 100%;border-radius: 6px;padding:1px;object-fit: cover;}
.application-cell .application-cell-title{position: absolute;bottom:0;left: 0;width: 100%;padding:10px 0;background-color: #fff;background-color: rgba(255, 255, 255, 0.5);}
/* 新闻 */
.new-box.list-box .links-box{margin-top: 0px;}
.new-box.list-box .product-card .list-group-item h4 i{vertical-align: middle;}
.btn-detail{display: inline-block;background-color: #fff;border:1px solid #ff9800;color: #ff9800;padding:4px 10px;}
.time,.time i{color: #999999;font-size: 12px;font-weight: normal;}
.new-box .product-classify .card.call-card .card-image img{height: auto;max-width:284px;margin: 0 auto; }
.new-info{color: #999999;font-size: 12px;}
.new-info span{display: inline-block;margin-right: 10px;}

.new-article-card {margin-left: -5px;margin-right: -5px;}
.new-article-card.card .header,.new-article-card.card .body{padding:10px 0;}
.new-article-card.card .body{line-height: 24px;font-size: 14px;}
.new-article-card img{display: inline-block;max-width: 100%;margin: 3px;}
.new-article-card .body div{text-indent: 28px;}

/* 分享到 */
.jiathis_style>div{box-sizing: content-box;}


/* oem服务 */
.solution-box{padding:5% 0;}
.theme-bg{background-color: #088fd5;}/* 蓝色 */
.theme-bg-dp{background-color: #046abf;}/* 蓝色 */
.rect-box{width: 208px;height: 208px;display: inline-block;margin:20px 0;}
.rect-cell{width: 100%;height:100%;font-size: 34px;padding:10px;border:2px solid #FFF;}
.rect-txt{width: 100%;height: 100%;color: #00a7eb;}
.issue-show{display: none;}
.issue-show .list-group-item{border-color: #ff5500;padding:15px 10px 15px 40px;position: relative;}
.issue-show .list-group-item:before{content: '?';font-size: 50px;color: #ff5500;position: absolute;top:-2px;left: 5px;}

.divider-wo{position: relative;width: 100%;height: 8px;overflow: hidden;margin-bottom: 30px;}
.divider-wo:before,
.divider-wo:after{content: '';display: block;overflow: hidden;position: absolute;}
.divider-wo:before{background-color: #ff8a00;height: 2px;left: 0;right: 0;top: 50%;}
.divider-wo:after{width: 36px;top:0;bottom:0;left: 50%;margin-left: -18px;background-color: #ff8a00;}

.solution-box .divider-wo{width: 120px;margin-left: auto;margin-right: auto;}

/* 代理加盟 */
.agent-join-box .card{margin-bottom: 2px;}
.agent-join-item{background: url('../../images/agentJoin/aj2.jpg') 0 0 repeat-y /100% auto;padding: 3% 0;margin-bottom: 20px;}
.agent-join-item .list-group-item{position: relative;background-color: rgba(92, 92, 92);background-color: rgba(92, 92, 92, 0.8);color: #FFF;border:none;border-left:10px solid #ff8a00;padding:20px 10px 30px 60px;}
.ico-advge{display: block;width: 48px;height: 48px;background: url('../../images/icon/ico-advge.png') 0 0 no-repeat;position: absolute;top: 10px;left: 6px;}
.ico-advge1{background-position: 0 0;}
.ico-advge2{background-position: 0 -48px;}
.ico-advge3{background-position: 0 -96px;}
.ico-advge4{background-position: 0 -144px;}

.agent-join-box .divider-wo:before{background-color: #fff;}


/* 关于我们 */
.about-us-box .vbtn-group .vbtn{background-color: #046abf;}
.about-us-box .vbtn-group .vbtn.active,.about-us-box .vbtn-group .vbtn:hover,.about-us-box .vbtn-group .vbtn:focus{background-color: #ff5500;}
.popover-box{border: 2px solid;padding:1.4% 4% 5%;color: #c6c6c6;margin: 20px 0;position: relative;background: url('../../images/aboutUs/intr-bg.png') bottom center repeat-x /100% auto;}
.popover-box .title{line-height: 1.2;margin-bottom: 10px;}
.popover-body{font-size: 18px;line-height: 2;}
.ico-arrow,.ico-arrow:before{display: block;width:0;height:0;position:absolute;border:18px solid;border-left-color: transparent;border-top-color: transparent;border-right-color: transparent;margin-left: -18px;}
.ico-arrow {top:-36px;left:50%;}
.ico-arrow:before{content: '';color:#FFF;left: 0px;top:-14px;}


.honor-title{font-size: 28px;font-size: 2.92rem;}
.honor-title .ico-flower{display: inline-block;width: 68px;height: 47px;background: url('../../images/aboutUs/flower.png') 0 0 no-repeat;}
.honor-title-cell{display: inline-block;position: relative;padding: 0;}

.fly-box{position: relative;width: 173px;display: inline-block;}
.fly-box img{display: block;width: 100%;}

.honor-title p{font-size: 16px;font-size: 1.42rem;padding:1px 0;color: #ff8400;display: inline-block;border:1px solid ;border-left: none;border-right:none;margin-bottom: 0;}
.honor-title .ico-arrow-down{position: relative;display: inline-block;margin-bottom: -20px;width: 0px;height: 0;border:20px solid transparent;border-top-color: #ff8400;}
.honor-title .ico-arrow-down:before{content: '';position: absolute;top:-22px;left:-20px;display: inline-block;width: 0px;height: 0;border:20px solid transparent;border-top-color: #fff;}
.choose-row-group{border:4px solid #FFF;padding:30px 12px 20px;position: relative;margin-top: -10px;}
.choose-row-group .row{border:1px solid #FFF;margin-bottom: 10px;padding:20px 0;}
.choose-row-group .row:last-child{margin-bottom: 0;}
.choose-txt p{padding:6% 0;margin-bottom: 0;}
.choose-txt div{line-height: 1.6;font-size: 18px;}
.choose-img img{display: block;width: 100%;max-width: 100%;padding:2% 0;}
.choose-row-title{border: 1px solid #FFF;background-color: #ffc100;padding:2px 7% 8px;display: inline-block;height: 43px;font-size: 22px;position: relative;z-index: 1;margin-bottom: -5px;}
.choose-row-title:before,.choose-row-title:after{content: '';display: inline-block;position: absolute;width: 100%;height: 100%;border: 1px solid #FFF;background-color: #ffc100;}
.choose-row-title:before{bottom:3px;left: 3px;z-index: -1;}
.choose-row-title:after{bottom:7px;left: 7px;z-index: -1;}

.culture-box{padding:5% 0 7%;}
.culture-box img{display: block;width: 100%;}

.ico-info,.ico-problem{background: url('../../images/icon/ico-aus.png') 0 0 no-repeat;}
.ico-info{width: 54px;height: 54px;display: inline-block;}
.ico-info1{background-position: 0 0;}
.ico-info2{background-position: 0 -54px;}
.ico-info3{background-position: 0 -108px;}
.ico-problem{background-position: 0 -163px;width: 32px;height: 32px;display: inline-block;vertical-align: middle;margin-right: 10px;}
.contact-info-box .alert{margin-bottom: 0;}
.contact-info-box .alert .btn{color: #FFF;background-color: #333;background-color: rgba(51, 51, 51, 0.5);border-radius: 6px;box-shadow: none;-webkit-border-radius: 6px;-webkit-box-shadow: none;}

/* 地图 */
.about-us-box .links-box{margin-top: 50px;}
.our-map-wrap{position: relative;padding:48.9% 0 0;border:1px solid #eee;}
.our-map-box{position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;}

.list-box .tab-content{/* margin-top: 60px; */}
.list-box .tab-content .product-show>.container{margin-top: 0;}
.list-box .tab-content .product-show{padding-top: 0;}
.list-box .tab-content .product-display{padding:0;}
.list-box .tab-content .sample-box{padding: 0;}
.list-box .tab-content .detail-box .row>div{padding: 0;}
.product-detail-tabs .nav-pills{padding:15px 0;}
.product-detail-tabs .nav-pills.is_stuck{background-color: #fff;z-index: 5;}
.product-detail-tabs .nav-pills>li{width: 30%;margin:0 2.5%;}
.product-detail-tabs .nav-pills>li:first-child{margin-left: 0;}
.product-detail-tabs .nav-pills>li:last-child{margin-right: 0;}
.product-detail-tabs .nav-pills>li a{color:#fff;font-size: 18px;text-align: center;padding: 0;height: 43px;line-height: 43px;background: url('../../images/list/vbg.jpg') 0 0 repeat-x;}
.product-detail-tabs .nav-pills>li.active>a, 
.product-detail-tabs .nav-pills>li.active>a:focus, 
.product-detail-tabs .nav-pills>li.active>a:hover{background-color: transparent;color: #FF0;}